<!DOCTYPE html>
<html lang="en">

<head class="api_data_class" api_request_method="GET" api_request_url="api/news/{id}?class_type=2&support_type=0,1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea"></script>
    <title>{[{ title }]}</title>
    <meta name="keywords" content="{[{ seo_keywords }]}">
    <meta name="description" content="{[{ seo_desc }]}">
</head>

<body>
<div id="app" class="api_data_class" api_request_method="GET"
     api_request_url="api/news/{id}?class_type=2&support_type=0,1">
    <!--顶部导航-->
    <head-nav v-on:changelanguage="onChangeLanguage"></head-nav>

    <!-- banner -->
    <div class="news_main_banner">
        <div class="news_sub_banner">
            <p class="content_title">{{$t("news.d3")}}</p>
            <p class="content_msg">{{$t("news.d4")}}</p>
        </div>
    </div>

    <!-- 主体内容 -->
    <div class="news_detail">
        <div class="news_detail_title">
            <span @click="gotoNews()" class="cursor back_notifys">{{$t("news.d5")}}</span>
            <span>></span>
            <span>{{$t("news.d9")}}</span>
        </div>
        <div class="flex_row_between" style="align-items: flex-start;">
            <div class="news_detail_content">
                <div class="news_detail_box">
                    <h4 class="notify_detail_title">{[{ title }]}</h4>
                    <div class="flex_row_start flex_row_between">
                        <div style="margin-right: 10px;">{[{ publish_time }]}</div>
                        <div class="flex_row_start">
                            <span style="margin-right: 20px;">{{$t("news.d8")}}</span>
                            <div class="bdsharebuttonbox">
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 内容区-->
                <div class="notify_detail_content" id="content">
                    {[{ content }]}
                </div>
                <div class="flex_row_between" style="margin: 20px 0 50px;">
                    <div id="pre_id" pre_id="{[{ pre_id }]}" @click="goNewsdetail(0)" v-if="this.pre_id != ''" class="cursor lg_page_font">
                        <span>{{$t("news.d14")}}</span>
                        <span>{[{ pre_title }]}</span>
                    </div>
                    <div id="next_id" class="cursor lg_page_font" next_id="{[{ next_id }]}" @click="goNewsdetail(1)" style="text-align: right;"
                         v-if="this.next_id != ''">
                        <span>{{$t("news.d15")}}</span>
                        <span>{[{ next_title }]}</span>
                    </div>
                </div>
            </div>
            <div class="download_question">
                <div class="download_pc">
                    <img src="../images/nav_logo.png" alt="" class="download_logo">
                    <h2 class="news_download_title">{{$t("news.d10")}}</h2>
                    <p class="news_download_msg">{{$t("news.d11")}}</p>
                    <a :href="windowsDownloadUrl" class="news_download_btn">{{$t("news.d12")}}</a>
                </div>
                <div class="questions">
                    <div class="question_title">{{$t("news.d13")}}</div>
                    <ul class="question_list">
                        <li class="question_li" v-for="(item, index) in questionList" :key="index">
                            {{item.title}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 客服下载 -->
    <download-box v-if="webParam.region_code == 1"></download-box>
    <!--页面底部导航-->
    <foot-nav class="other_foot_nav"></foot-nav>
</div>
</body>
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "0",
            "bdSize": "16"
        },
        "share": {}
    };
    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src =
        '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)
        ];
</script>
<!-- 客服-->
#include('../components/_kefu.html')
</html>