<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://u.im-cc.com/uccwebchat/uccwebchat.min.js" type="text/javascript" data-url="https://uchat.im-cc.com/webchat_new_ssl/static/html/index.html?isstatic=true"
    data-function="getWebchat('2FAepT','在线客服');" data-btn="true" id="imcc-iframe"></script>
<script type="text/javascript">
    var kefu = document.querySelectorAll(".newmodal");

    for (var i = 0; i < kefu.length; i++) {
        kefu[i].onclick = function () {
            getWebchat('2FAepT', '在线客服');
        };
    }
</script>