<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="p:domain_verify" content="1840b2cd5dae2761392f23daff8540f5" />
    <script src="https://hm.baidu.com/hm.js?9513e0c1768e0f11b637a3b4be7d9131"></script>
   <!-- Google Tag Manager -->
   <script>(
    function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0];
        var j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WT2CCTQ');
    </script>
    <!-- End Google Tag Manager -->
    <title>通过邀请码,邀请好友注册薄荷</title>
    <meta name="keywords" content="a1" />
    <meta name="description" content="a1" />
  </head>

  <body>
    <div id="app" style="background-color: #fff;">
      <div class="wrap_of_header bg_com2">
        <div class="notify_bgc_bh">
          <head-nav
            v-on:changelanguage="onChangeLanguage"
            ref="headerNav"
          ></head-nav>
        </div>
      </div>
      <div style="background-color:#2e4770;">
        <div class="wrap_activty">
          <div class="activty_detail_1_container">
            <div id="titlePart">
              <h2 class="activty_detail_topTitle activty_detail_fontTitle">
                {{ $t("notify.y5") }}<span style="color:#ffe41d">30</span>
                {{ $t("notify.y5_1") }}
              </h2>
              <h2 class="activty_detail_topTitle activty_detail_bgPic">
                {{ $t("notify.y6") }}
              </h2>
              <p class="activty_detail_topDesc">{{ $t("notify.y18") }}</p>
            </div>
            <div class="activty_detail_content">
              <img
                src="./images/huodongphone.png"
                class="activty_detail_phone"
                width="197px"
              />
              <img
                src="./images/human.png"
                class="activty_detail_human"
                width="202px"
              />
              <h3 class="activty_detail_innerTitle">{{ $t("notify.y19") }}</h3>
              <p v-show="language=='en'" class="activty_detail_subTitle">
                {{ $t("notify.y20") }}
              </p>
              <div class="activty_detail_greyPart">
                <div class="activty_detail_tip" id="activty_detail_tip">
                  <span>{{ $t("notify.y7") }}<br/>{{ $t("notify.y7_3") }}
                    <br>
                    <span v-if="isUserLogin">{{globalUrl+'/register.html?refer_code='+refer_code}}{{ $t("notify.y7_2") }}{{ refer_code }}】</span>
                  </span>
                </div>
                <p style="text-align:center;">
                  <el-button v-if="isUserLogin"
                    class="activty_detail_copyBtn"
                    @click="getText"
                    id="activty_detail_copyBtn"
                    >{{ $t("notify.y8") }}</el-button
                  >
                  <el-button v-else
                  class="activty_detail_copyBtn"
                  @click="goToLogin"
                  >{{ $t("head.a9") }}</el-button
                >
                </p>
              </div>
              <div class="activty_detail_desc">
                <h3>{{ $t("notify.y10") }}</h3>
                <ul>
                  <li>{{ $t("notify.y11") }}</li>
                  <li>{{ $t("notify.y12") }}</li>
                  <li>{{ $t("notify.y13") }}</li>
                  <li>{{ $t("notify.y14") }}</li>
                </ul>
                <p>{{ $t("notify.y15") }}</p>
              </div>
            </div>
            <div style="padding-top:0px;">
              <img style="cursor:pointer"
                src="./images/banner.png"
                alt=""
                class="activty_detail_imgBanner"
                width="955px"
                @click="goToActivty1"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- 底部导航 -->
      <div class="wrap_of_footer">
            <foot-nav v-on:ondownloadconfig="onDownloadConfig"></foot-nav>
        </div>
    </div>
  </body>
</html>
