<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="p:domain_verify" content="1840b2cd5dae2761392f23daff8540f5" />
    <script src="https://hm.baidu.com/hm.js?9513e0c1768e0f11b637a3b4be7d9131"></script>
    <!-- Google Tag Manager -->
    <script>(
            function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0];
                var j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-WT2CCTQ');
    </script>
    <!-- End Google Tag Manager -->
    <title>薄荷加速器海外版,盛大内测送好礼</title>
    <meta name="keywords" content="a1">
    <meta name="description" content="a1">
</head>

<body>
    <div id="app" style="background-color: #fff;">
        <div class="wrap_of_header bg_com2">
            <div class="notify_bgc_bh">
                <head-nav v-on:changelanguage="onChangeLanguage" ref="headerNav"></head-nav>
            </div>
        </div>
        <div class="activty_detail_0">
            <div class="activty_detail_0_leftCon">
                <h1 v-if="language=='en'" class="activty_detail_0_enTitle">{{$t("notify.y21")}}</h1>
                <h2 v-if="language=='zh_CN'" class="activty_detail_0_subTitle">{{$t("notify.y22")}}</h2>
                <h2 class="activty_detail_0_subTitle">{{$t("notify.y23")}}</h2>
                <h2 class="activty_detail_0_subTitle">{{$t("notify.y24")}}</h2>
                <div class="activty_detail_0_registerBtn" @click="gotoRegister"><span>{{$t("notify.y25")}}</span></div>
                <h2 class="activty_detail_0_activeTime">{{$t("notify.y26")}}</h2>
                <!-- <div class="activty_detail_0_footer">
                   <img src="./images/activity_0_gonggao.png" alt="" height="24px" style="vertical-align:middle"> 
                   <span class="activty_detail_0_footer_desc">{{$t("notify.y27")}}</span>
                   <div style="display:inline-block;cursor: pointer;" @click="goToActivity">
                        <span class="activty_detail_0_footer_action">{{$t("notify.y28")}}</span>
                        <img src="./images/activity_0_arrow.png" alt="" width="18px" style="vertical-align:middle"> 
                  </div>
                </div> -->
            </div>
            <div class="activty_detail_0_rightCon">
                <!-- <img src="./images/bg_activity0_icon.png" alt="" width="90%"> -->
            </div>
        </div>
        <div class="activty_detail_0_desc">
            <div class="activty_detail_0_desc_title">{{$t('notify.y31')}}</div>
            <div class="activty_detail_0_desc_desc">
               <div>
                   <img src="./images/icon_video.png" />
                   <p v-show="language=='zh_CN'" class="activty_detail_0_desc_img_desc">{{$t('index.b10')}}</p>
                   <p class="activty_detail_0_desc_img_desc"><span>{{$t('notify.y32')}}</span><br/><span>{{$t('notify.y33')}}</span></p>
               </div>
               <div>
                    <img src="./images/icon_game.png" />
                    <p v-show="language=='zh_CN'" class="activty_detail_0_desc_img_desc">{{$t('index.b12')}}</p>
                    <p class="activty_detail_0_desc_img_desc"><span>{{$t('notify.y34')}}</span><br/><span>{{$t('notify.y35')}}</span></p>
               </div>
               <div>
                    <img src="./images/icon_music.png" />
                    <p v-show="language=='zh_CN'" class="activty_detail_0_desc_img_desc">{{$t('index.b16')}}</p>
                    <p class="activty_detail_0_desc_img_desc"><span>{{$t('notify.y36')}}</span><br/><span>{{$t('notify.y37')}}</span></p>
               </div>
               <div>
                    <img src="./images/icon_steaming.png" />
                    <p v-show="language=='zh_CN'" class="activty_detail_0_desc_img_desc">{{$t('index.b14')}}</p>
                    <p class="activty_detail_0_desc_img_desc"><span>{{$t('notify.y38')}}</span><br/><span>{{$t('notify.y39')}}</span></p>
               </div>
               <div>
                    <img src="./images/icon_web.png" />
                    <p v-show="language=='zh_CN'" class="activty_detail_0_desc_img_desc">{{$t('index.b18')}}</p>
                    <p class="activty_detail_0_desc_img_desc"><span>{{$t('notify.y40')}}</span><br/><span>{{$t('notify.y41')}}</span></p>
               </div>
            </div>
        </div>
        <div class="activty_detail_0_contact">
            <div class="activty_detail_0_contact_title">{{$t('notify.y42')}}</div>
            <p class="activty_detail_0_contact_sub_title"><span>{{$t('notify.y43')}}</span><br/><span>{{$t('notify.y44')}}</span></p>
            <p class="activty_detail_0_contact_desc">{{$t('notify.y45')}}</p>
            <div class="activty_detail_0_contact_qq">
                <p class="activty_detail_0_contact_btn">
                    <img src="./images/huodong_qq.png" style="vertical-align: sub;"/>
                    <span class="activty_detail_0_contact_qq_numer">697340774</span></p>
            </div>
            <p class="activty_detail_0_contact_qq_desc">{{$t('notify.y46')}}</p>
        </div>
        <div class="wrap_of_footer">
            <foot-nav v-on:ondownloadconfig="onDownloadConfig"></foot-nav>
        </div>
    </div>
</body>
</html>