<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="p:domain_verify" content="1840b2cd5dae2761392f23daff8540f5" />
    <script src="https://hm.baidu.com/hm.js?9513e0c1768e0f11b637a3b4be7d9131"></script>
    <!-- Google Tag Manager -->
    <script>(
            function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0];
                var j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-WT2CCTQ');
    </script>
    <!-- End Google Tag Manager -->
    <title>登录</title>
    <meta name="keywords" content="a1">
    <meta name="description" content="a1">
</head>

<body>
    <div id="app" class="wrap_of_login_bh">
        <div class=" rlf_com">

            <!-- 薄荷logo -->
            <div class="logo_register_bh">
                <a @click="goHome"><img src="./images/logo.png" alt=""></a>
            </div>
            <div class="main_content_register_bh">
                <div class="wrap_of_register_ways_bh" v-loading="isLoading" :element-loading-text="loadingMsg">
                    <!-- 注册方式选择，手机或者邮箱 -->
                    <div class="register_ways_of_bh">
                        <ul class="list_of_register_ways clearfix_a">
                            <li class="item_of_register" @click="onChangeLoginType(0)" :class="{active_bh:loginType == 0}"><a
                                    class="font_s18">{{$t("login.l1")}}</a></li>
                            <li class="item_of_register" @click="onChangeLoginType(1)" :class="{active_bh:loginType == 1}"><a
                                    class="font_s18">{{$t("login.l2")}}</a></li>
                        </ul>
                    </div>
                    <!-- 手机 -->
                    <div class="wrap_of_mobile_bh" v-show="loginType == 0">
                        <!-- 手机号 -->
                        <div class="mobile_phone_res_bh">
                            <el-select @change="onSelectCountryCode" filterable v-model="country_code" :placeholder="$t('login.l3')">
                                <el-option v-for="(val,key,index) in areaCodeList" :key="index" :label="'+'+val" :value="val">
                                </el-option>
                            </el-select>
                            <input v-model="phone" type="text" :placeholder="$t('login.l4')">
                        </div>
                        <!-- 短信验证码 -->
                        <div class="msg_code_res_bh common_width_res hide_bh pos_r">
                            <input type="text" :placeholder="$t('login.l5')">
                        </div>
                        <!-- 密码设置 -->
                        <div class="pwd_res_bh common_width_res">
                            <input v-model="phonePassword" v-on:input="passwordInput(0)" type="password" :placeholder="$t('login.l6')">
                        </div>
                        <!-- 密码确认 -->
                        <div class="confirm_pwd_res_bh common_width_res hide_bh">
                            <input type="password" :placeholder="$t('login.l7')">
                        </div>
                        <!-- 图形验证码 -->
                        <div class="img_code_res_bh common_width_res hide_bh pos_r">
                            <input type="text" :placeholder="$t('login.l8')">
                        </div>
                    </div>
                    <!-- 邮箱 -->
                    <div class="wrap_of_email_bh" style="display: none;" v-show="loginType == 1">
                        <!-- 邮箱 -->
                        <div class="email_num_res_bh common_width_res">
                            <input v-model="email" type="text" :placeholder="$t('login.l9')">
                        </div>
                        <!-- 邮箱验证码 -->
                        <div class="email_code_res_bh common_width_res hide_bh pos_r">
                            <input type="text" :placeholder="$t('login.l10')">
                        </div>
                        <!-- 密码设置 -->
                        <div class="pwd_res_bh common_width_res">
                            <input v-model="emailPassword" v-on:input="passwordInput(1)" type="password" :placeholder="$t('login.l6')">
                        </div>
                        <!-- 密码确认 -->
                        <div class="confirm_pwd_res_bh common_width_res hide_bh">
                            <input type="password" :placeholder="$t('login.l7')">
                        </div>
                    </div>
                    <!-- 忘记密码，记住密码 -->
                    <div class="pwd_seleted_list_bh">
                        <div class="rem_pwd_bh">
                            <input v-model="isKeepPw" type="checkbox">
                            <a @click="isKeepPw = !isKeepPw">{{$t("login.l11")}}</a>
                        </div>
                        <div class="forget_pwd_bh">
                            <a href="forgetpwd.html">{{$t("login.l12")}}</a>
                        </div>
                    </div>
                    <!-- 登录注册按钮 -->
                    <div class="btn_to_reslogin_bh">
                        <div class="register_now_bh">
                            <a @keyup.enter="onLogin" @click="onLogin" class="words_col0 show_bh">{{$t("login.l13")}}</a>
                        </div>
                        <div class="login_bh">
                            <a href="register.html" class="show_bh words_clo4">{{$t("login.l14")}}</a>
                        </div>
                    </div>
                    <!-- 三方登录模块 -->
                    <div class="mtb_20_s0">
                        <!--组件-->
                        <oauth-login v-on:set-loading-statuas="setLoadingStatuas"></oauth-login>
                    </div>
                </div>
            </div>
        </div>
        <foot-nav-two></foot-nav-two>
    </div>
</body>
</html>