<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="p:domain_verify" content="1840b2cd5dae2761392f23daff8540f5"/>
    <script src="https://hm.baidu.com/hm.js?9513e0c1768e0f11b637a3b4be7d9131"></script>
    <!-- Google Tag Manager -->
    <script>(
        function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0];
            var j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WT2CCTQ');
    </script>
    <!-- End Google Tag Manager -->
    <title>资讯</title>
    <meta name="keywords" content="a1">
    <meta name="description" content="a1">
</head>

<body>
<div class="wrap_of_news" id="app" style="background: #fff;">
    <!-- 头部 -->
    <div class="wrap_of_header bg_com2" style="border-bottom: 1px solid #d8d8d8;">
        <head-nav v-on:changelanguage="onChangeLanguage"></head-nav>
    </div>

    <div class="main_container_2">
        <div style="cursor: pointer;">
            <img @click="goNewsDetail(2)" src="./images/zixun_banner.jpg" alt="">
        </div>
        <div class="pos_r">
            <b class="icon_s1"></b>
            <p class="font_s10">{{$t("detailsnews.d3")}}</p>
            <ul class="ul_com_s2">
                <li class="li_com_s2" v-for="(item , index) in newsListTop" :key="index" @click="goNewsDetail(item.id)">
                    <a>
                        <div class="news_img">
                            <img style="height:100%;" class="img_filter" :src="imageHeadUrl + item.image_url" alt="">
                        </div>
                        <h1 class="font_s9" v-text="item.title"></h1>
                        <!--<p class="news_summary" v-text="item.summary"></p>-->
                    </a>
                </li>
            </ul>
            <div class="empty_box" v-show="newsListTop.length == 0">
                <img class="empty_img" src="images/empty_event.png" alt="">
                <p class="empty_msg">{{$t("pgame.n2")}}</p>
            </div>
        </div>
        <div class="clearfix_a">
            <div style="width:80%;float: left;" class="pos_r">
                <b class="icon_s1"></b>
                <p class="font_s10">{{$t("detailsnews.d4")}}</p>
                <ul class="ul_com_s2">
                    <li class="news_li clearfix_a" v-for="(item , index) in newsList" :key="index">
                        <a @click="goNewsDetail(item.id)">
                            <div class="news_picture">
                                <img class="img_filter new_img" :src="imageHeadUrl + item.image_url" alt="">
                            </div>
                        </a>
                        <div class="news_info">
                            <a @click="goNewsDetail(item.id)">
                                <h1 class="font_s9" v-text="item.title"></h1>
                                <p class="news_summary" v-text="item.summary"></p>
                            </a>
                            <div class="data_share clearfix_a">
                                <div class="data"
                                     v-text="item.publish_time_year + '-' + item.publish_time_month + '-' + item.publish_time_day"></div>
                                <div class="share">
                                    <share-to v-if="webParam.region_code==1" :item="item" @show_code_img="showWxImg"
                                              share-page="news"
                                              size="16px"></share-to>
                                </div>
                                <div class="share" v-if="webParam.region_code==1">分享到</div>

                            </div>
                        </div>
                    </li>
                </ul>

                <div class="empty_box" v-show="newsList.length == 0">
                    <img class="empty_img" src="images/empty_event.png" alt="">
                    <p class="empty_msg">{{$t("pgame.n2")}}</p>
                </div>
                <el-pagination background @prev-click="getChinaNewsList" @next-click="getChinaNewsList"
                               @current-change="getChinaNewsList" layout="prev, pager, next" :total="total"
                               :page-size="page_size"
                               v-show="newsList.length > 0">
                </el-pagination>
            </div>
            <div style="width:20%;float: right;" class="pos_r">
                <details-news></details-news>
            </div>
        </div>
    </div>
    <div v-show="showChart" class="news-wxTip" :style="{left:divLeft,top:divTop}">
        <p><span>分享到微信朋友圈</span><span @click="showChart=false" class="news-wxTip__close">X</span></p>
        <img :src="wxImgSrc" class="news-wxTip__img">
        <p>打开微信，点击底部的“发现”</p>
        <p>使用“扫一扫”即可将网页分享至朋友圈。</p>
    </div>
    <!-- 底部导航 -->
    <div class="wrap_of_footer">
        <foot-nav></foot-nav>
    </div>
</div>
</body>
</html>