<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>日志管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="robots" content="noindex">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>

<body >
    <div class="mui-content orderBox" id="app"  style="padding:15px;overflow: hidden;" v-cloak>
       <div>
            <div class="no_orderList leigod_hide"  v-show="pauseTimeList.length==0">
                <i class="ls icon-jilu"></i>
                <h4>暂无日志</h4>
            </div>

            <div class="logsList" id="logsList"  v-if="pauseTimeList.length>0">
                <div class="logsList_cell" v-for="item in pauseTimeList">
                    <h5 class="logsList_tit"></h5>
                    <dl class="logsList_con">
                        <dt class="monthDay">{{item.pauseYears}}.{{item.pauseMonths}}.{{item.pauseDays}}</dt>
                        <dd>[<span class="hours">{{item.pauseHMS}}</span>] 已<span class="operate">{{item.pauseStatus}}</span>使用加速时间</dd>
                    </dl>
                </div>
            </div>   
       </div>
        <div v-show="isLoading" style="position:fixed;width:100%;height:100%; background: #eee;left: 0; top:0; display: flex;justify-content: center;align-items: center;">
            <van-loading  color="rgba(0,0,0,.5)" style="top:-10%" size="40px" />
        </div>
    </div>
   
</body>

</html>