<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="robots" content="noindex">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <script src="https://hm.baidu.com/hm.js?539749fa2c4ded1935537a08f9d20cd7"></script>
    <title>充值</title>

    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>

<body style="background: #f2f2f2;">
<div id="app" v-cloak>
    <div class="app_container" style="padding-bottom: 100px;">
        <!-- 套餐页展示图 -->
        <van-swipe :autoplay="3000">
            <van-swipe-item v-for="(image, index) in newActiveList" :key="index">
                <a :href="image.url" v-lazy="image"><img :src="image.img" alt="" class="img_filter"/></a>
            </van-swipe-item>
        </van-swipe>

        <!-- 页面内容主体 -->
        <div class="app_content">
            <!-- 套餐列表模块 -->
            <div>
                <div class="app_package_top" @click="onChoosePrice(0)">
                    <div class="choosed_package" v-show="priceIndex === 0"></div>
                    <div class="flex_content_left">
                        <p class="big_pack_font">
                            {{ recommendBuyPackage.price_title }}小时
                            <img src="./images/scth.png" alt="" style="width: 64px;" v-if="is_change_price == 1">
                        </p>
                        <p class="app_package_font" v-if="is_change_price != 1">不用可随时暂停加速时间 <br>
                            一次购买相当于永久使用</p>
                        <p class="app_package_font" v-if="is_change_price == 1">
                            <span style="color:#4F546D;">限时活动: 3.22~3.31</span><br>
                            不用可随时暂停
                        </p>
                    </div>
                    <div class="flex_column_center">
                        <div>
                            <p>
                                <span class="big_pack_font" :class="{'big_sc_color': is_change_price == 1}">¥</span>
                                <span class="big_am_font" :class="{'big_sc_color': is_change_price == 1}">{{ recommendBuyPackage.price_num }}</span>
                            </p>
                            <p v-if="is_change_price == 1">
                                <s style="color: #999FBC;">原价50</s>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="app_package_bottom">
                    <div class="app_bottom_box" style="padding: 10px" v-for="(item,index) in otherBuyPackageList"
                         :key="item.price_id"
                         @click="onChoosePrice(index+1)">
                        <!-- 选中样式 -->
                        <div class="choosed_package" v-show="priceIndex === (index+1)"></div>
                        <p class="app_package_price">{{ item.price_title }}小时</p>
                        <div style="margin-top: 5px;">
                            <span class="top_simbol_font">¥</span>
                            <span class="top_amount_font">{{ item.price_num}}</span>
                        </div>
                        <span class="app_price_des">{{ item.price_short_desc }}</span>
                    </div>
                </div>
                <!-- 折扣码 -->
                <div class="zhekouBox">
                    <img src="./images/off_5.png" style="width: 100%;" alt="" v-if="userInfo.first_invoice_discount == 1">
                    <h5 class="zhekou_tit" v-if="userInfo.first_invoice_discount != 1">折扣码(选填)</h5>
                    <van-cell-group class="zhekou" v-if="userInfo.first_invoice_discount != 1">
                        <van-field v-model="zheCode" placeholder="请输入" @click="discountshow = true"/>
                    </van-cell-group>
                </div>

            </div>
            <!-- 温馨提示模块 -->
            <div style="margin-top:15px;">
                <p class="app_warm_tips">温馨提示:</p>
                <div class="app_main_font">
                    <p>1.雷神加速器账号与手机加速端通用，但不可同时登录使用；</p>
                    <p>2.用户可根据自己游戏时间安排，通过电脑客户端或关注“雷神加速器”微信公众号使用加速器时间暂停和恢复功能。</p>
                    <p>3.因地区、宽带运营商、用户本地网络波动等不可抗因素，雷神无法保证每个加速器用户网络延迟时间一致，请测试确认后再购买,因此雷神不支持退款</p>
                </div>
            </div>
        </div>
        <!-- 协议与支付模块 -->
        <div class="fixed_box">
            <div class="app_protocol_box">
                <div class="flex_row_start">
                    <div :class="{app_normal_ipt:true,hide_ipt_checked:agreement}"><input type="checkbox"
                                                                                          class="hide_ipt"
                                                                                          v-model="agreement"/></div>
                    <p class="agree_font">同意并阅读《会员服务条款》</p>
                </div>
                <p class="detail_font" @click="gotoitems">查看详情</p>
            </div>
            <div class="app_check_box">
                <div class="flex_row_start">
                    <p class="app_main_font" style="color: #999FBC;">金额</p>
                    <div class="app_amount_box">
                        <span class="simbol_font">￥</span> <span class="amount_font">{{ choosePrice }}</span>
                    </div>
                </div>
                <div class="app_check_btn" @click="gotoPay">去支付</div>
            </div>
        </div>
        <!-- 支付弹出层 -->
        <van-popup v-model="show" position="bottom" :overlay="true">
            <div class="check_pop_box">
                <p class="app_main_font">请选择支付方式</p>
                <div class="app_payment_box" style="justify-content: space-around;">
                    <div class="flex_column_center" @click="onChooseAndPay(2)">
                        <img src="./images/alipay@2x.png" alt="" width="30"/>
                        <p>支付宝</p>
                    </div>
                    <div class="flex_column_center" @click="onChooseAndPay(1)">
                        <img src="./images/wechat@2x.png" alt="" width="30"/>
                        <p>微信支付</p>
                    </div>
                    <!-- <div class="flex_column_center" @click="onChooseAndPay(3)">
                            <img src="./images/qq@2x.png" alt="" width="30" />
                            <p>QQ钱包</p>
                        </div> -->
                </div>
            </div>
        </van-popup>
        <!--选择优惠券-->
        <van-popup v-model="discountshow" position="right" :lazy-render="false"  style="width: 100%;">
            <div class="discount_list">
                <div class="discount_head">
                    <div class="discount_input">
                        <input type="text" v-model="zheCode" placeholder="请输入" style="width:70%;">
                        <a class="public_btn" @click="discountshow = false">确定</a>
                    </div>
                    <p class="discount_list_title">可使用优惠券</p>
                </div>
                <ul class="discounts">
                    <li class="flex_row_start" v-for="item in discountList" @click="checkDiscount(item)">
                        <p style="font-size: 30px;color: #ff4444;width: 40%;text-align: center;">
                            {{item.discount_value/100}}
                            <span style="font-size: 20px">元</span>
                        </p>
                        <div style="width: 60%;text-align: left;">
                            <p style="font-size: 16px;color: #323232;">{{item.title}}</p>
                            <p style="margin-top: 5px;">有效期至:{{item.expired_time}}</p>
                        </div>
                    </li>
                </ul>
                <a class="discount_foot" @click="clearDiscount">不使用优惠券</a>
            </div>
        </van-popup>
    </div>
    <!-- loading -->
    <load :isloading="isLoading"></load>
</div>

</body>

</html>