<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>路由器列表</title>
</head>
<body style="background-color: #363437;">
<div id="app" class="router_list">
    <p class="router_info_font">以下为支持可安装插件的路由器</p>
    <div v-for="(value, key) in routerMoudel" :key="key" class="mar_b25">
        <p class="router_title_font">{{value.title}}</p>
        <ul class="clear_fix router_box" :class="{'defalut_height': value['isUpDown']}">
            <li id="copyRouterTitle" class="router_cell f_left" v-for="(subitem, key1) in value.list" :key="key1"
                @click="copyRouterTitle(value.title.replace(/：/,'')+subitem)">
                {{subitem}}
            </li>
        </ul>
        <div class="check_more" @click="checkMore(key, value)" v-show="value.list.length > 6">
            {{value['isUpDown'] ? '收起' : '查看更多+'}}
        </div>
    </div>
    <p>我们将持续优化，后续将兼容更多路由器</p>
</div>
</body>
</html>