<!DOCTYPE html>
<html>

<head class="api_data_class" api_request_method="GET" api_request_url="api/news/{id}?class_type=0&support_type=0,1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{[{ title }]}- (BOHE)薄荷官网</title>
    <meta name="keywords" content="{[{ seo_keywords }]}">
    <meta name="description" content="{[{ seo_desc }]}">
</head>

<body>
<div id="app" class="api_data_class detail_notice_bh" api_request_method="GET" api_request_url="api/news/{id}?class_type=0&support_type=0,1">
    <!-- 头部导航 -->
    <div class="wrap_of_header notice_head" style="border-bottom: 1px solid #d8d8d8;">
        <head-nav v-on:changelanguage="onChangeLanguage"></head-nav>
    </div>
    <!-- 页面主要内容-->
    <div class="wrap_of_notice_bh">
        <div class="detail_notice_bh clearfix_a">
            <div class="detail_nav_bread">
                <a @click="gotoNews()" class="com_chg">{{$t("template.x1")}}</a>
                <span>-></span>
                <a class="com_chg">{{$t("template.x2")}}</a>
            </div>

            <div class="content_notice_bh left_bh">
                <!--标题-->
                <div class="title_notice_bh clearfix_a">
                    <h1 class="com_tit_zx">{[{ title }]}</h1>
                    <span class="zx_pub_time">{[{ create_time }]}</span>
                    <span style="margin-left: 20px;display: inline-block;line-height: 28px;vertical-align: middle;">分享到:</span>
                    <div class="share_content_detail bdsharebuttonbox">
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    </div>
                </div>
                <!-- 内容区-->
                <div class="main_contend_zixun" id="content">
                    {[{ content }]}
                </div>
                <div class="links_for_zixun_bh clearfix_a">
                    <div id="pre_id" pre_id="{[{ pre_id }]}" @click="goNewsdetail(0)" class="left_bh com_chg"
                         v-if="this.pre_id != ''">
                        <span>{{$t("template.x3")}}</span>
                        <span>{[{ pre_title }]}</span>
                    </div>
                    <div id="next_id" next_id="{[{ next_id }]}" @click="goNewsdetail(1)" class="right_bh com_chg" style="text-align: right;"
                         v-if="this.next_id != ''">
                        <span>{{$t("template.x4")}}</span>
                        <span>{[{ next_title }]}</span>
                    </div>
                </div>
            </div>
            <div class="r_notice_bh right_bh">
                <details-news></details-news>
            </div>
        </div>
    </div>
    <!-- 底部导航 -->
    <div class="wrap_of_footer">
        <foot-nav></foot-nav>
    </div>
</div>
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "0",
            "bdSize": "16"
        },
        "share": {}
    };
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src =
        '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)
        ];
</script>
</body>

</html>