<!doctype html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>充值</title>
</head>

<body style="height: 100%;">
    <div class="recharge_container" style="height: 100%;" id="app" v-cloak>
        <div>
            <ul class="package_box_fa" v-if="!account_out && priceList.length > 0">
                <li class="package_box_son" @click="onChoosePrice(index)" v-for="(item,index) in priceList" :key="index"
                    :class="{taocan_active:priceIndex == index}">
                    <div class="package_top_cell">
                        <p class="number_font" v-text="item.price_title"></p>
                        <p class="time_font">{{$t("recharge.c19")}}</p>
                        <img :src="jiaobiao_obj.jiaobiao_url" alt="" style="position: absolute;top: 0;right: 0;width: 0.52rem;" v-if="jiaobiao_obj.is_show && item.price_is_recommend == 1 && appParam.region_code == 1">
                    </div>
                    <div style="margin: 0.08rem 0;">
                        <span class="lists_font"></span>
                        <span class="amount_font">¥{{item.price_num}}</span>
                        <s class="amount_font" style="font-size: .14rem;color: #BDBDBD;" v-if="jiaobiao_obj.is_show && item.price_is_recommend == 1 && appParam.region_code == 1">¥618</s>
                    </div>
                    <div class="lists_font_cen" style="text-align: center;margin-bottom: 0.22rem;">
                        <span style="font-size: 0.12rem;" :class="{'activity_font':item.price_is_recommend == 1}" v-text="item.price_short_desc" v-if="is_change_price != 1 || item.price_is_recommend != 1"></span>
                        <s style="font-size: 0.12rem;color: #BDBDBD;" v-if="is_change_price == 1 && item.price_is_recommend == 1">原价50</s>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;" v-text="item.price_desc" v-if="is_change_price != 1 || item.price_is_recommend != 1"></p>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;" v-if="is_change_price == 1 && item.price_is_recommend == 1">
                            参与人数:
                            <span style="color: #FE6637;">{{payUserNum}}</span>
                        </p>
                        <!--<p style="font-size: 0.12rem;color: #BDBDBD;" v-if="item.price_is_recommend != 1 || appParam.region_code == 0 || !jiaobiao_obj.is_show">{{$t("index.a41")}}</p>-->
                        <p style="font-size: 0.12rem;color: #BDBDBD;" v-if="jiaobiao_obj.is_show && item.price_is_recommend == 1 && appParam.region_code == 1">{{jiaobiao_obj.jiaobiao_msg}}</p>
                    </div>
                    <!--<img src="./images/recharge_check_icon.png" alt="" class="recherge_check_icon" style="width: 0.2rem;height: 0.2rem;" v-show="priceIndex == 0">-->
                </li>
            </ul>
            <ul class="package_box_fa" v-if="account_out && appParam.region_code == 0">
                <li class="package_box_son" @mouseover="choosePriceIndex(0)" @mouseout="restorePriceIndex"
                    :class="{taocan_active_nologin:priceHoverIndex == 0}" style="height: 2.9rem;">
                    <div class="package_top_cell">
                        <p class="number_font">720</p>
                        <p class="time_font">{{$t("recharge.c19")}}</p>
                    </div>
                    <div  style="margin: 0.16rem 0;">
                        <span class="amount_font">¥</span>
                        <span class="amount_font">60</span>
                    </div>
                    <div class="lists_font_cen" style="text-align: center">
                        <span style="font-size: 0.12rem;color: #BDBDBD;">{{$t("recharge.c20")}}</span>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;">0.08¥/{{$t("recharge.c19")}}</p>
                        <!--<p style="font-size: 0.12rem;color: #BDBDBD;">{{$t("index.a41")}}</p>-->
                        <!--<s>原价50</s>-->
                    </div>
                    <a class="buy_btn" @click="clickLogin(0)">{{$t("recharge.c22")}}</a>
                </li>
                <li class="package_box_son" @mouseover="choosePriceIndex(1)"
                    :class="{taocan_active_nologin:priceHoverIndex == 1}" style="height: 2.9rem;">
                    <div class="package_top_cell">
                        <p class="number_font">2160</p>
                        <p class="time_font">{{$t("recharge.c19")}}</p>
                    </div>
                    <div style="margin: 0.16rem 0;">
                        <span class="amount_font">¥</span>
                        <span class="amount_font">162</span>
                    </div>
                    <div class="lists_font_cen" style="text-align: center">
                        <span style="font-size: 0.12rem;color: #BDBDBD;">{{$t("recharge.c23")}}</span>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;">0.08¥/{{$t("recharge.c19")}}</p>
                        <!--<p style="font-size: 0.12rem;color: #BDBDBD;">{{$t("index.a41")}}</p>-->
                        <!--<s>原价50</s>-->
                    </div>
                    <a class="buy_btn" @click="clickLogin(1)">{{$t("recharge.c22")}}</a>
                </li>
                <li class="package_box_son" @mouseover="choosePriceIndex(2)"
                    :class="{taocan_active_nologin:priceHoverIndex == 2}" style="height: 2.9rem;">
                    <div class="package_top_cell">
                        <p class="number_font">4320</p>
                        <p class="time_font">{{$t("recharge.c19")}}</p>
                    </div>
                    <div style="margin: 0.16rem 0;">
                        <span class="amount_font">¥</span>
                        <span class="amount_font">288</span>
                    </div>
                    <div class="lists_font_cen" style="text-align: center">
                        <span style="font-size: 0.12rem;color: #BDBDBD;">{{$t("recharge.c25")}}</span>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;">0.07¥/{{$t("recharge.c19")}}</p>
                        <!--<p style="font-size: 0.12rem;color: #BDBDBD;">{{$t("index.a41")}}</p>-->
                        <!--<s>原价50</s>-->
                    </div>
                    <a class="buy_btn" @click="clickLogin(2)">{{$t("recharge.c22")}}</a>
                </li>
                <li class="package_box_son" @mouseover="choosePriceIndex(3)"
                    :class="{taocan_active_nologin:priceHoverIndex == 3}" style="height: 2.9rem;">
                    <div class="package_top_cell">
                        <p class="number_font">8760</p>
                        <p class="time_font">{{$t("recharge.c19")}}</p>
                    </div>
                    <div style="margin: 0.16rem 0;">
                        <span class="amount_font">¥</span>
                        <span class="amount_font">298</span>
                    </div>
                    <div class="lists_font_cen" style="text-align: center">
                        <span class="activity_font" style="font-size: 0.12rem;">{{$t("recharge.c27")}}</span>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;">0.03¥/{{$t("recharge.c19")}}</p>
                        <!--<p style="font-size: 0.12rem;color: #BDBDBD;">{{$t("index.a41")}}</p>-->
                        <!--<s>原价50</s>-->
                    </div>
                    <a class="buy_btn" @click="clickLogin(3)">{{$t("recharge.c22")}}</a>
                </li>
            </ul>
            <ul class="package_box_fa" v-if="account_out && appParam.region_code == 1">
                <li class="package_box_son" @mouseover="choosePriceIndex(0)"
                    :class="{taocan_active_nologin:priceHoverIndex == 0}" style="height: 2.9rem;">
                    <div class="package_top_cell">
                        <p class="number_font">500</p>
                        <p class="time_font">{{$t("recharge.c19")}}</p>
                    </div>
                    <div  style="margin: 0.16rem 0;">
                        <span class="amount_font">¥</span>
                        <span class="amount_font">39</span>
                    </div>
                    <div class="lists_font_cen" style="text-align: center">
                        <span style="font-size: 0.12rem;color: #BDBDBD;" v-if="!is_in_shouchong">{{$t("recharge.c20")}}</span>
                        <s style="font-size: 0.12rem;color: #BDBDBD;" v-if="is_in_shouchong">原价50</s>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;" v-if="!is_in_shouchong">0.078元/{{$t("recharge.c19")}}</p>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;" v-if="is_in_shouchong">
                            参与人数:
                            <span style="color: #FE6637;">{{payUserNum}}</span>
                        </p>
                        <!--<p style="font-size: 0.12rem;color: #BDBDBD;">{{$t("index.a41")}}</p>-->
                        <!--<s>原价50</s>-->
                    </div>
                    <a class="buy_btn" @click="clickLogin(0)">{{$t("recharge.c22")}}</a>
                </li>
                <li class="package_box_son" @mouseover="choosePriceIndex(1)"
                    :class="{taocan_active_nologin:priceHoverIndex == 1}" style="height: 2.9rem;">
                    <div class="package_top_cell">
                        <p class="number_font">800</p>
                        <p class="time_font">{{$t("recharge.c19")}}</p>
                    </div>
                    <div style="margin: 0.16rem 0;">
                        <span class="amount_font">¥</span>
                        <span class="amount_font">49</span>
                    </div>
                    <div class="lists_font_cen" style="text-align: center">
                        <span style="font-size: 0.12rem;color: #BDBDBD;">{{$t("recharge.c23")}}</span>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;">0.061元/{{$t("recharge.c19")}}</p>
                        <!--<p style="font-size: 0.12rem;color: #BDBDBD;">{{$t("index.a41")}}</p>-->
                        <!--<s>原价50</s>-->
                    </div>
                    <a class="buy_btn" @click="clickLogin(1)">{{$t("recharge.c22")}}</a>
                </li>
                <li class="package_box_son" @mouseover="choosePriceIndex(2)"
                    :class="{taocan_active_nologin:priceHoverIndex == 2}" style="height: 2.9rem;">
                    <div class="package_top_cell">
                        <p class="number_font">2300</p>
                        <p class="time_font">{{$t("recharge.c19")}}</p>
                    </div>
                    <div style="margin: 0.16rem 0;">
                        <span class="amount_font">¥</span>
                        <span class="amount_font">139</span>
                    </div>
                    <div class="lists_font_cen" style="text-align: center">
                        <span style="font-size: 0.12rem;color: #BDBDBD;">{{$t("recharge.c25")}}</span>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;">0.06元/{{$t("recharge.c19")}}</p>
                        <!--<p style="font-size: 0.12rem;color: #BDBDBD;">{{$t("index.a41")}}</p>-->
                        <!--<s>原价50</s>-->
                    </div>
                    <a class="buy_btn" @click="clickLogin(2)">{{$t("recharge.c22")}}</a>
                </li>
                <li class="package_box_son" @mouseover="choosePriceIndex(3)"
                    :class="{taocan_active_nologin:priceHoverIndex == 3}" style="height: 2.9rem;">
                    <div class="package_top_cell">
                        <p class="number_font">9000</p>
                        <p class="time_font">{{$t("recharge.c19")}}</p>
                        <img src="./images/scth.png" alt="" style="position: absolute;top: 0;right: 0;width: 0.52rem;" v-if="jiaobiao_obj.is_show">
                    </div>
                    <div style="margin: 0.16rem 0;">
                        <span class="amount_font">¥</span>
                        <span class="amount_font">279</span>
                        <s class="amount_font" style="font-size: .14rem;color: #BDBDBD;" v-if="jiaobiao_obj.is_show">¥618</s>
                    </div>
                    <div class="lists_font_cen" style="text-align: center">
                        <span class="activity_font" style="font-size: 0.12rem;">{{$t("recharge.c27")}}</span>
                        <p style="font-size: 0.12rem;color: #BDBDBD;margin: 0.08rem 0;">0.031元/{{$t("recharge.c19")}}</p>
                        <!--<p style="font-size: 0.12rem;color: #BDBDBD;" v-if="jiaobiao_obj.is_show">{{jiaobiao_obj.jiaobiao_msg}}</p>-->
                        <!--<s>原价50</s>-->
                    </div>
                    <a class="buy_btn" @click="clickLogin(3)">{{$t("recharge.c22")}}</a>
                </li>
            </ul>
            <div class="flex_sbe" v-if="!account_out">
                <div class="wrap_box">
                    <div class="left_box">
                        <p class="lists_font_cen default_cursor" style="text-align: center;">{{$t("recharge.c2")}}</p>
                        <div class="flex_row_center" style="width: 100%;margin-top: 0.06rem;">
                            <a class="a_alipay" :class="{'ali_hover':payType == 2}" @click="onChoosePayType(2)"></a>
                            <a style="margin: 0 0.2rem" class="a_wechat" :class="{'wechat_hover':payType == 1}" @click="onChoosePayType(1)"></a>
                            <a class="a_qqpay" :class="{'qqpay_hover':payType == 3}" @click="onChoosePayType(3)"></a>
                            <!--<a v-if="appParam.region_code == 0" class="a_palpel" :class="{'payapl_hover':payType == 5}" @click="onChoosePayType(5)"></a>-->
                        </div>
                    </div>
                    <img src="./images/recharge_line.png" alt="">
                    <div class="right_box" :class="{'flex_column_center':userInfo.first_invoice_discount != 1}">
                        <p style="font-size: 0.12rem;color: #838383;text-align: left;padding-left: 0.15rem;width: 100%;" v-if="userInfo.first_invoice_discount != 1">{{$t("recharge.c29")}}</p>
                        <!--首冲立减5元图片-->
                        <img src="./images/off_5.png" alt="" style="margin-top: 0.15rem;width: 1.2rem;" v-if="userInfo.first_invoice_discount == 1">
                        <img src="./images/off_5_icon.png" alt="" style="margin-top: 0.3rem;margin-left: 0.15rem;" v-if="userInfo.first_invoice_discount == 1">

                        <a style="color: #E87E29;position: absolute;top: 0.1rem;right: 0.15rem;font-size: 0.12rem;" @click="openCdkey">{{$t("user.b67")}}</a>
                        <input style="width: 70%;margin-top: 0.06rem;font-size: 0.12rem;" type="text" v-model="zheCode" :placeholder="$t('recharge.c30')"
                               v-if="userInfo.first_invoice_discount != 1" class="ipt_radius">
                    </div>
                </div>
                <div class="check_box">
                    <a class="public_btn" :class="{'uncheck_btn':!serviceAgreen}" @click="clickPay" style="border-radius: 1rem;font-size: 0.14rem">
                        {{$t("recharge.c3")}}
                    </a>
                    <div class="protocol_box" @click="serviceAgreen = !serviceAgreen">
                        <div class="ipt_box" :class="{'service_agreen': serviceAgreen}">
                            <input type="checkbox" v-model="serviceAgreen" style="display: none;">
                        </div>
                        <span style="font-size: 0.12rem;color: #666;">{{$t("recharge.c4")}}</span>
                        <a class="protocol_font" @click="goUserserver">{{$t("recharge.c5")}}</a>
                    </div>
                </div>
            </div>
            <!--cd-key激活弹窗-->
            <el-dialog
                :visible.sync="cdKeyDialogVisible"
                width="50%"
                class="cdkey_dialog"
                @close="closeCdkey"
                center>
                <cdkey @closecdkey="closeCdkey" ref="cdkey"></cdkey>
            </el-dialog>
            <!-- 支付弹窗 -->
            <pay-dialog ref="payDialogCom" v-show="payDialogVisible" @closepaydialog="closePayDialog" :payobj="payObj"></pay-dialog>
        </div>
    </div>
</body>

</html>