<!doctype html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>充值</title>
</head>

<body style="height: 100%;">
    <div class="recharge_container" style="height: 100%;" id="app">
        <div>
            <ul class="package_box_fa">
                <li class="package_box_son" @click="onChoosePrice(index)" v-for="(item,index) in priceList" :key="index"
                    :class="{taocan_active:priceIndex == index}">
                    <div class="package_top_cell">
                        <!--圆周动画的小icon-->
                        <b class="icon_anim"></b>
                        <p class="number_font" v-text="item.price_title"></p>
                        <p class="time_font">{{$t("recharge.c19")}}</p>
                    </div>
                    <div class="">
                        <span class="lists_font">¥</span>
                        <span class="amount_font">{{item.price_num}}</span>
                    </div>
                    <div class="lists_font_cen" style="text-align: center">
                        <span v-text="item.price_short_desc"></span>
                        <!--<s>原价50</s>-->
                    </div>
                </li>
            </ul>
            <div class="flex_sbe">
                <div class="wrap_box">
                    <div class="left_box">
                        <p class="lists_font_cen default_cursor" style="text-align: center;">{{$t("recharge.c2")}}</p>
                        <div class="flex_row_center" style="width: 100%;">
                            <a class="a_alipay" :class="{'ali_hover':payType == 2}" @click="onChoosePayType(2)"></a>
                            <a style="margin: 0 20px" class="a_wechat" :class="{'wechat_hover':payType == 1}" @click="onChoosePayType(1)"></a>
                            <a class="a_qqpay" :class="{'qqpay_hover':payType == 3}" @click="onChoosePayType(3)"></a>
                            <!--<a v-if="appParam.region_code == 0" class="a_palpel" :class="{'payapl_hover':payType == 5}" @click="onChoosePayType(5)"></a>-->
                        </div>
                    </div>
                    <div class="right_box">
                        <p class="lists_font_cen default_cursor" style="text-align: center;">{{$t("recharge.c29")}}</p>
                        <input style="width: 100%;" type="text" v-model="zheCode" :placeholder="$t('recharge.c30')"
                            class="ipt_radius">
                    </div>
                </div>
                <div class="check_box">
                    <a class="public_btn" @click="clickPay">
                        {{$t("recharge.c3")}}
                    </a>
                    <div class="protocol_box" @click="serviceAgreen = !serviceAgreen">
                        <div class="ipt_box" :class="{'service_agreen': serviceAgreen}">
                            <input type="checkbox" v-model="serviceAgreen" style="display: none;">
                        </div>
                        <span class="time_font">{{$t("recharge.c4")}}</span>
                        <a class="protocol_font" @click="goUserserver">{{$t("recharge.c5")}}</a>
                    </div>
                </div>
            </div>
            <!-- 支付弹窗 -->
            <pay-dialog ref="payDialogCom" v-show="payDialogVisible" @closepaydialog="closePayDialog" :payobj="payObj"></pay-dialog>
        </div>
    </div>
</body>

</html>