<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心</title>
</head>

<body>
    <div class="page_pc" id="app" v-cloak v-loading="isLoading">
        <!--顶部用户信息导航-->
        <div class="nav_box" :class="{'nav_box_show' : serviceShow,'nav_box_height':version<2}" id="head">
            <div class="flex_row_between" style="position: relative;" v-if="version<2">
                <div class="flex_row_start" style="margin-left: 0.3rem;width: 2.0rem;">
                    <div class="avtar" @click="onServiceShow">
                        <img :src="userInfo.avatar" onerror="javascript:this.src='./images/default_avatar.png'" class="user_avtar"
                            alt="">
                    </div>
                    <div style="margin-left: 0.05rem;">
                        <p class="user_nickname">
                            <span class="nickname_pc">{{userInfo.nickname}}</span>
                            <i class="edit" @click="onServiceShow"></i>
                        </p>
                        <p class="user_level">
                            {{userInfo.package_title}}
                        </p>
                    </div>
                </div>
                <!--屏蔽剩余时间显示 -->
                <div>
                    <p class="flex_row_center">
                        <span class="timing" v-show="userInfo.billing_type == 2">{{userInfo.expiry_time}}</span>
                        <span class="timing" v-show="userInfo.billing_type == 1">{{timeHours}}</span>
                        <span class="times_font" v-show="userInfo.billing_type == 1">时</span>
                        <span class="timing" v-show="userInfo.billing_type == 1">{{timeMinutes}}</span>
                        <span class="times_font" v-show="userInfo.billing_type == 1">分</span>
                        <span class="timing" v-show="userInfo.billing_type == 1">{{timeSeconds}}</span>
                        <span class="times_font" v-show="userInfo.billing_type == 1">秒</span>
                        <i class="refresh_icon" style="margin-left:5px" @click="reGetUserInfo" v-show="userInfo.billing_type == 1"></i>
                    </p>
                    <p class="user_state" v-show="version != 1">
                        <span>{{$t("user.b3")}}</span>
                        <span>{{userInfo.pause_status}}</span>
                    </p>
                </div>
                <!--暂停恢复按钮标识-->
                <div style="margin-right: 0.3rem;width: 2.0rem;text-align: right;">
                    <a class="time_btn public_btn" style="color:#333;padding:0.08rem 0.3rem;display: none;" @click="goRecharge"
                        v-show="version >= 1">
                        <span>{{$t("nav.navlist3")}}</span>
                    </a>
                    <!-- 屏蔽暂停恢复 -->
                    <a class="time_btn suspended_btn" @click="onSuspended" v-show="userInfo.pause_status_id == 0 && version < 1">
                        <i class="suspended_icon"></i>
                        <span>{{$t("user.b2")}}</span>
                    </a>
                    <a class="time_btn restore_btn" @click="onRestore" v-show="userInfo.pause_status_id == 1 && version < 1">
                        <i class="restore_icon"></i>
                        <span>{{$t("user.b1")}}</span>
                    </a>
                    <div class="time_tip" v-show="!timeTipShow && version < 1">
                        <i class="time_tip_jiao"></i>
                        <div class="time_tip_msg">
                            <span>{{$t("user.b132")}}</span>
                            <span style="color:#eee;margin-left:0.1rem;">|</span>
                            <i class="time_tip_close cursor" @click="closeTimeTip"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div id="user_info" class="userinfo" v-show="serviceShow">
                <div class="tab_nav">
                    <!--老用户-->
                    <li class="tab_nav_li cursor" v-show="userInfo.master_account == 0 && userInfo.mobile == ''" @click="changeTabIndex(3)"
                        :class="{'tab_nav_li_active': tabIndex == 3}">{{$t("public.share10")}}
                    </li>
                    <li class="tab_nav_li cursor" @click="changeTabIndex(0)" :class="{'tab_nav_li_active': tabIndex == 0}">
                        {{$t("public.share11")}}
                    </li>
                    <!--新用户-->
                    <li class="tab_nav_li cursor" v-show="(userInfo.master_account == 0 && userInfo.mobile != '') || userInfo.master_account == 1"
                        @click="changeTabIndex(1)" :class="{'tab_nav_li_active': tabIndex == 1}">{{$t("user.b9")}}
                    </li>
                    <li class="tab_nav_li cursor" v-show="(userInfo.master_account == 0 && userInfo.mobile != '') || userInfo.master_account == 1"
                        @click="changeTabIndex(2)" :class="{'tab_nav_li_active': tabIndex == 2}">{{$t("user.b10")}}
                    </li>
                </div>

                <reset-userinfo ref="resetuserinfo" v-show="tabIndex == 0" @on-upload-userinfo="onUploadUserInfo"
                    @closeservice="onCloseService" :userinfo="userInfo">
                </reset-userinfo>

                <user-safety ref="safety" v-show="tabIndex == 1" :userinfo="userInfo" @refreshuserinfo="getUserInfo"
                    @sendverifycode="onSendVerificationCode" @closeservice="onCloseService" @resetpassword="onResetPwd">
                </user-safety>

                <three-bind v-show="tabIndex == 2" @closeservice="onCloseService"></three-bind>

                <bind-mobile v-show="tabIndex == 3" @closeservice="onCloseService"></bind-mobile>
            </div>
            <div class="pull_btn" @click="onServiceShow" v-if="version < 2">
                <div class="pull_icon" :class="{'pull_up_icon': serviceShow}"></div>
            </div>
        </div>

        <!--页面主要内容(windows显示)-->
        <div class="content_pc" :class="{'content_pc_top': version < 2}" v-if="appParam.platform == 0">
            <div id="shadow_box" class="shadow" v-show="shadowShow"></div>
            <div class="activity_list">
                <el-carousel height="1.30rem">
                    <el-carousel-item v-for="(item,index) in bannerList" :key="index">
                        <img :src="imageHeadUrl + item.imgUrl" @click="goActivityDetail(item)" class="img_filter cursor"
                            alt="" style="border-radius: 0.05rem;" />
                    </el-carousel-item>
                </el-carousel>
            </div>
            <div class="flex_row_between">
                <div class="box_son">
                    <div class="flex_row_between">
                        <span class="news_title">{{$t("user.b6")}}</span>
                        <p class="cursor more_style" @click="goNotifys">more+</p>
                    </div>
                    <ul class="notify_list">
                        <li class="box_cell flex_row_between lists_font" v-for="(item,index) in notifyList" :key="index"
                            @click="goNoticeDetail(item.id)" style="margin: 0;">
                            <p class="lists_font" style="width:80%;margin: 0;">{{item.title}}</p>
                            <p class="lists_font" style="width:20%;text-align: right;margin: 0;">{{item.publish_time_month
                                + '-' + item.publish_time_day}}</p>
                        </li>
                        <li style="display: none;width: 100%;padding-top: 0.09rem;" v-show="notifyList.length == 0" class="flex_column_center">
                            <p style="margin-top: 0.2rem;"></p>
                            <img class="empty_img" src="./images/empty.png" alt="" style="width:0.2rem;">
                            <p class="empty_txt" style="margin-top: 0.05rem;">{{$t("news.d2")}}</p>
                        </li>
                    </ul>
                </div>
                <div class="box_son">
                    <div class="flex_row_between">
                        <span class="news_title">{{$t("user.b7")}}</span>
                        <div class="icon">
                            <i class="left_icon cursor" @click="changeNewListIndex(newPage-1)"></i>
                            <i class="right_icon cursor" @click="changeNewListIndex(newPage+1)"></i>
                            <span class="cursor more_style" style="margin-left:0.05rem;" @click="goNews">
                                more+
                            </span>
                        </div>
                    </div>
                    <ul class="flex_row_between news">
                        <li class="new" v-for="(item,index) in newList" :key="index" @click="goNewsDetail(item.id)">
                            <div class="fixed_height">
                                <img class="img_filter" style="border-radius: 0.05rem;" :src="imageHeadUrl+item.image_url"
                                    alt="">
                            </div>
                            <p class="lists_font">{{item.title}}</p>
                        </li>
                        <li style="display: none;width: 100%;" v-show="newList.length == 0" class="flex_column_center">
                            <p style="margin-top: 0.2rem;"></p>
                            <img class="empty_img" src="./images/empty.png" alt="" style="width:0.2rem;">
                            <p class="empty_txt" style="margin-top: 0.05rem;">{{$t("news.d2")}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 页面主要内容(mac显示) -->
        <div class="content_pc" :class="{'content_pc_top': version < 2}" v-if="appParam.platform == 1">
            <div id="shadow_box" class="shadow" v-show="shadowShow"></div>
            <div class="activity_list">
                <el-carousel height="1.30rem">
                    <el-carousel-item>
                        <img src="images/banner_cn.png" class="img_filter cursor" alt="" style="border-radius: 0.05rem;" v-if="appParam.region_code == 1" />
                        <img src="images/banner_en.png" class="img_filter cursor" alt="" style="border-radius: 0.05rem;" v-if="appParam.region_code == 0" />
                    </el-carousel-item>
                </el-carousel>
            </div>
            <div class="flex_row_between">
                <div class="box_son">
                    <div class="flex_row_between">
                        <span class="news_title">{{$t("user.b6")}}</span>
                        <p class="cursor more_style">more+</p>
                    </div>
                    <ul class="notify_list">
                        <li class="box_cell flex_row_between lists_font" v-for="(item,index) in notifyList" :key="index"
                            style="margin: 0;">
                            <p class="lists_font" style="width:80%;margin: 0;">{{item.title}}</p>
                            <p class="lists_font" style="width:20%;text-align: right;margin: 0;">{{item.publish_time_month
                                + '-' + item.publish_time_day}}</p>
                        </li>
                        <li style="display: none;width: 100%;padding-top: 0.09rem;" v-show="notifyList.length == 0" class="flex_column_center">
                            <p style="margin-top: 0.2rem;"></p>
                            <img class="empty_img" src="./images/empty.png" alt="" style="width:0.2rem;">
                            <p class="empty_txt" style="margin-top: 0.05rem;">{{$t("news.d2")}}</p>
                        </li>
                    </ul>
                </div>
                <div class="box_son">
                    <div class="flex_row_between">
                        <span class="news_title">{{$t("user.b7")}}</span>
                        <div class="icon">
                            <!-- <i class="left_icon cursor" @click="changeNewListIndex(newPage-1)"></i>
                            <i class="right_icon cursor" @click="changeNewListIndex(newPage+1)"></i> -->
                            <!-- <span class="cursor more_style" style="margin-left:0.05rem;">
                                more+
                            </span> -->
                        </div>
                    </div>
                    <ul class="flex_row_between news">
                        <li class="new" v-if="appParam.region_code == 1">
                            <div class="fixed_height">
                                <img class="img_filter" style="border-radius: 0.05rem;" src="images/beifang_line.png" alt="">
                            </div>
                            <p class="lists_font">北方线路优化</p>
                        </li>
                        <li class="new" v-if="appParam.region_code == 1">
                            <div class="fixed_height">
                                <img class="img_filter" style="border-radius: 0.05rem;" src="images/zt_free.png" alt="">
                            </div>
                            <p class="lists_font">随时不限制暂停上线</p>
                        </li>
                        <li class="new" v-if="appParam.region_code == 0">
                            <div class="fixed_height">
                                <img class="img_filter" style="border-radius: 0.05rem;" src="images/web_link.png" alt="">
                            </div>
                            <p class="lists_font">加速海量网游的加速器</p>
                        </li>
                        <li class="new" v-if="appParam.region_code == 0">
                            <div class="fixed_height">
                                <img class="img_filter" style="border-radius: 0.05rem;" src="images/zt_free_en.png" alt="">
                            </div>
                            <p class="lists_font">随时不限制暂停上线</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 操作成功显示 -->
        <el-dialog :visible.sync="successTipShow" :title="$t('public.share1')">
            <div class="dialog_tip">
                <div class="dialog_tip_img">
                    <img class="img_filter" src="images/success_tip.png" alt="">
                </div>
                <p class="dialog_msg" style="margin-top: 0.2rem;">{{dialogTipMsg}}</p>
                <div class="btn_control" style="margin-top: 0.4rem;">
                    <a class="dialog_btn" v-show="successTipType == 0">{{$t("public.share15")}}</a>
                    <a class="dialog_btn" @click="successTipClose" v-show="successTipType == 1">{{$t("user.b36")}}</a>
                </div>
            </div>
        </el-dialog>

        <!-- 版本升级提示 -->
        <el-dialog :visible.sync="downloadTipShow" :title="$t('public.share1')" width="55%">
            <p class="dialog_msg" style="margin-top: 0.2rem;text-indent: 2em;">
                亲爱的用户，您好，很抱歉，你当前的雷神客户端版本无法体验最新的原生暂停，恢复功能，请您下载最新版本的客户端。
                诸多改进，等你体验，请<span class="guanwang cursor" @click="goHome">点击这里</span>下载，仅需3秒，即可飞速升级完成。顺祝游戏愉快！
            </p>
            <div class="btn_control" style="margin-top: 0.4rem;">
                <a class="dialog_btn" @click="downloadNow">下载</a>
            </div>
        </el-dialog>
    </div>
</body>
<script type="text/javascript">
    function serviceIn() {
        const headNav = document.getElementById('head');
        const userService = document.getElementById('user_info');
        const shadowBox = document.getElementById('shadow_box');
        if (headNav.classList.contains('nav_box_show')) {
            headNav.classList.remove('nav_box_show');
            userService.style.display = 'none';
            shadowBox.style.display = 'none';
        } else {
            headNav.classList.add('nav_box_show');
            userService.style.display = 'block';
            shadowBox.style.display = 'block';
        }
    }
    function clearThirdUrlType() {
        localStorage.removeItem('third_bind_url_type');
    }
</script>

</html>