<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>绑定账号</title>
    <script src="https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea"></script>
</head>

<body>
    <div v-cloak id="app">
        <div class="login" v-loading="isLoading" :element-loading-text="loadingMsg">
            <div class="back_center_icon cursor" @click="goHome"></div>
            <div class="login_content">
                <!--头部logo-->
                <div class="login_logo_icon" @click="goHome">
                </div>
                <!--登录注册区-->
                <div class="webbind_box high_ZINDEX_show">
                    <ul style="width: 310px;" class="flex_row_around">
                        <li v-show="bindUrlType == 1">
                            <a class="login_title_font pos_foot_txt2" :class="{'logo_font' : resignType == 4}" @click="changeResignType(4)">{{$t("public.share60")}}</a>
                        </li>
                        <li v-show="bindUrlType == 1 && isShowEmail">
                            <a class="login_title_font pos_foot_txt2" :class="{'logo_font' : resignType == 5}" @click="changeResignType(5)">
                                {{$t("public.share61")}}
                            </a>
                        </li>
                        <li v-show="bindUrlType == 0">
                            <a class="login_title_font pos_foot_txt2 logo_font">
                                {{$t("public.share8")}}
                            </a>
                        </li>
                    </ul>
                    <!--用户绑定填写框-->
                    <div>
                        <ul style="width: 310px;" class="register_box" v-show="resignType == 4 && bindUrlType == 1">
                            <li class="flex_sbe">
                                <div class="select_box" style="width:50%;margin-bottom: 12px;margin-right: 10px;position: relative;">
                                    <img :src="country_code.ico" alt="" style="position:absolute;left: 10px;top: 10px;z-index: 100;">
                                    <el-select @change="onSelectCountryCode" value=""
                                               placeholder="" style="width:60%;">
                                        <el-option-group
                                                v-for="group in country_code_list"
                                                :key="group.label"
                                                :label="group.label">
                                            <el-option v-for="(val,index) in group.options" :key="index"
                                                       :value="val">
                                                <img :src="val.ico" alt="">
                                                <span style="color:#666;">{{val.name}}</span>
                                            </el-option>
                                        </el-option-group>
                                    </el-select>
                                    <span style="font-size: 14px;">{{'+' + country_code.code}}</span>
                                </div>
                                <!-- <input style="width: 82px;" class="input_box" type="text" placeholder="+86"> -->
                                <input style="width: 217px;" v-model="phone" class="input_box" type="text" :placeholder="$t('public.share2')">
                            </li>
                            <li v-show="isimgVerification">
                                <label class="input_box flex_row_between" for="">
                                    <input style="width: 60%;" v-model="imgCaptchaCode" class="check_input" type="text"
                                        :placeholder="$t('public.share5')">
                                    <div style="width: 40%;height: 100%;" class="flex_row_around web_protocol_font"
                                        @click="getCaptcha">
                                        <img :src="imgCaptchaM.img" class="img_filter" alt="">
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="input_box flex_row_between" for="">
                                    <input style="width: 50%;" v-model="smscode" class="check_input" type="text"
                                        :placeholder="$t('public.share48')">
                                    <div style="margin-right: 8px;" class="flex_row_center web_protocol_font">
                                        <a @click="onSmsCode" v-show="smsCountDownNum <= 0">{{$t("public.share6")}}</a>
                                        <span v-show="smsCountDownNum <= 0">|</span>
                                        <a @click="onVoiceCode" v-show="smsCountDownNum <= 0">{{$t("public.share7")}}</a>
                                        <span style="margin-right: 10px;" v-show="smsCountDownNum > 0">{{smsCountDownNum}}s</span>
                                    </div>
                                </label>
                            </li>
                            <li v-show="bind_status == 4">
                                <input style="width: 100%;" v-model="phonePassword" class="input_box" type="password"
                                    :placeholder="$t('public.share40')">
                            </li>
                        </ul>
                        <ul style="width: 310px;" class="register_box" v-show="resignType == 5 && bindUrlType == 1">
                            <li>
                                <input style="width: 100%;" v-model="email" class="input_box" type="text" :placeholder="$t('public.share63')">
                            </li>
                            <li v-show="isimgVerification">
                                <label class="input_box flex_row_between" for="">
                                    <input style="width: 60%;" v-model="imgCaptchaCode" class="check_input" type="text"
                                        :placeholder="$t('public.share5')">
                                    <div style="width: 40%;height: 100%;" class="flex_row_around web_protocol_font"
                                        @click="getCaptcha">
                                        <img :src="imgCaptchaM.img" class="img_filter" alt="">
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="input_box flex_row_between" for="">
                                    <input style="width: 60%;" v-model="emailcode" class="check_input" type="text"
                                        :placeholder="$t('public.share49')">
                                    <div style="margin-right: 8px;" class="flex_row_center web_protocol_font">
                                        <a @click="onEmailCode" v-show="emailCountDownNum <= 0">{{$t("public.share42")}}</a>
                                        <span style="margin-right: 10px;" v-show="emailCountDownNum > 0">{{emailCountDownNum}}s</span>
                                    </div>
                                </label>
                            </li>
                            <li v-show="bind_status == 4">
                                <input style="width: 100%;" v-model="emailPassword" class="input_box" type="password"
                                    :placeholder="$t('public.share40')">
                            </li>
                        </ul>
                        <ul style="width: 310px;" class="register_box" v-show="bindUrlType == 0">
                            <label class="input_box flex_row_between" for="">
                                <input style="width: 50%;" v-model="verify_code" class="check_input" type="text"
                                    :placeholder="$t('public.share4')">
                                <div style="margin-right: 8px;" class="flex_row_center web_protocol_font">
                                    <a @click="sendVerifyCode" v-show="verifyCountDownNum <= 0">{{$t("public.share21")}}</a>
                                    <span style="margin-right: 10px;" v-show="verifyCountDownNum > 0">{{verifyCountDownNum}}s</span>
                                </div>
                            </label>
                        </ul>
                    </div>
                    <!-- 推荐码 -->
                    <div style="width: 310px;display: none;" class="flex_row_start" v-show="bind_status == 4">
                        <input style="width: 100%;" v-model="referCode" class="input_box" type="text" :placeholder="$t('public.share59')">
                    </div>
                    <!--会员服务条款-->
                    <div style="width: 100%;display: none;" class="flex_row_start" v-show="bind_status == 4">
                        <input class="check_input pos_download_list" v-model="agreementChceked" type="checkbox">
                        <span class="h5_font14_white" @click="agreementChceked = !agreementChceked">{{$t("public.share43")}}</span>
                        <a class="web_protocol_font">{{$t("public.share44")}}</a>
                    </div>
                    <a class="web_login_btn pos_banner_txt1" style="width: 100%;padding: 10px 25px;" @click="clickRegister"
                        v-show="bindUrlType == 1">
                        {{bind_status == 4 ? $t('public.share8') : $t('public.share62')}}</a>
                    <a class="web_login_btn pos_banner_txt1" style="width: 100%;padding: 10px 25px;" @click="bindDefaultAccount"
                        v-show="bindUrlType == 0">
                        {{$t('public.share8')}}</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>