<!doctype html>
<html lang="en" style="height:100%">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重置密码</title>
    <script src="https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea"></script>
</head>

<body style="height:100%" class="element">
    <div v-cloak id="app" style="height:100%" v-loading="isLoading">
        <div class="login" style="height:100%">
            <div class="back_center_icon cursor" @click="goHome"></div>
            <div class="login_content">
                <div class="login_logo_icon" @click="goHome"></div>
                <div class="flex_row_center_top">
                    <!--最新活动区-->
                    <div class="">
                        <!--<div class="pos_news_bottom flex_row_item_right">-->
                        <!--<p class="web_title_font">{{$t("public.share24")}}</p>-->
                        <!--<p class="title_icon"></p>-->
                        <!--</div>-->
                        <div class="activity_content flex_sbe box_radius" style="width: 585px;height: 320px;margin-top: 50px;"
                            @click="goActivityDetail(activityInfo)">
                            <img class="img_filter cursor box_radius" :src="bannerImg" alt="">
                        </div>
                    </div>
                    <!--登录注册区-->
                    <div class="flex_column_center high_ZINDEX_show">
                        <ul style="width: 310px;" class="flex_row_around">
                            <!--国际显示-->
                            <li>
                                <a class="login_title_font pos_foot_txt2" @click="changeResignType(2)" :class="{logo_font:resignType == 2}">{{$t("public.share50")}}</a>
                            </li>
                            <li>
                                <a class="login_title_font pos_foot_txt2" @click="changeResignType(3)" :class="{logo_font:resignType == 3}">
                                    {{$t("public.share51")}}
                                </a>
                            </li>
                        </ul>
                        <ul class="hide">
                            <!--国内显示-->
                            <li>
                                <a class="login_title_font pos_foot_txt2">
                                    {{$t("public.share52")}}
                                </a>
                            </li>
                        </ul>
                        <!--用户登录填写框-->
                        <div>
                            <!--手机密码重置-->
                            <ul style="width: 310px;" class="register_box" v-show="resignType == 2">
                                <li class="flex_sbe" style="width:100%;">
                                    <el-select @change="onSelectCountryCode" filterable v-model="countryCode"
                                        :placeholder="$t('public.share25')" style="width:30%;margin-bottom: 12px;margin-right: 10px;">
                                        <el-option v-for="(val,key,index) in areaCodeList" :key="index" :label="'+'+val"
                                            :value="val">
                                        </el-option>
                                    </el-select>
                                    <input style="width: 217px;" v-model="phone" class="input_box" type="text"
                                        :placeholder="$t('public.share2')">
                                </li>
                                <li v-show="isimgVerification">
                                    <label class="input_box flex_row_between" for="">
                                        <input style="width: 60%;" v-model="imgCaptchaCode" class="check_input" type="text"
                                            :placeholder="$t('public.share5')">
                                        <div class="img_code_box" @click="getCaptcha">
                                            <img :src="imgCaptchaM.img" class="img_filter" alt="">
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="input_box flex_row_between" for="">
                                        <input style="width: 50%;" v-model="smscode" class="check_input" type="text"
                                            :placeholder="$t('public.share48')">
                                        <div class="img_code_box" style="justify-content: flex-end">
                                            <a class="web_protocol_font" v-show="smsCountDownNum <= 0" @click="onSmsCode">{{$t("public.share6")}}</a>
                                            <span class="list_font" v-show="smsCountDownNum <= 0 && countryCode == 86">|</span>
                                            <a class="web_protocol_font" v-show="smsCountDownNum <= 0 && countryCode == 86"
                                                @click="onVoiceCode">{{$t("public.share7")}}</a>
                                            <span style="display: none;margin-right: 10px;" v-show="smsCountDownNum > 0">({{smsCountDownNum}}s)</span>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <input style="width: 100%;" v-model="phonePassword" class="input_box" type="password"
                                        :placeholder="$t('public.share40')">
                                </li>
                                <li>
                                    <input style="width: 100%;" v-model="phonePasswordTwo" class="input_box" type="password"
                                        :placeholder="$t('public.share41')">
                                </li>
                            </ul>
                            <!--邮箱密码重置-->
                            <ul style="width: 310px;" v-show="resignType == 3">
                                <li>
                                    <input style="width: 100%;" v-model="email" class="input_box" type="text"
                                        :placeholder="$t('public.share3')">
                                </li>
                                <li v-show="isimgVerification">
                                    <label class="input_box flex_row_between" for="">
                                        <input style="width: 60%;" v-model="imgCaptchaCode" class="check_input" type="text"
                                            :placeholder="$t('public.share5')">
                                        <div class="img_code_box" @click="getCaptcha">
                                            <img :src="imgCaptchaM.img" class="img_filter" alt="">
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="input_box flex_row_between" for="">
                                        <input style="width: 60%;" class="check_input" v-model="emailcode" type="text"
                                            :placeholder="$t('public.share49')">
                                        <div class="img_code_box" style="justify-content: flex-end">
                                            <a class="web_protocol_font" @click="onEmailCode" v-show="emailCountDownNum <= 0">{{$t("public.share42")}}</a>
                                            <span style="display: none;margin-right: 10px;" v-show="emailCountDownNum > 0">({{emailCountDownNum}}s)</span>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <input style="width: 100%;" class="input_box" v-model="emailPassword" type="password"
                                        :placeholder="$t('public.share40')">
                                </li>
                                <li>
                                    <input style="width: 100%;" class="input_box" v-model="emailPasswordTwo" type="password"
                                        :placeholder="$t('public.share41')">
                                </li>
                            </ul>
                        </div>
                        <a class="web_login_btn pos_banner_txt1" style="width: 100%;padding: 10px 25px;" @click="clickFindPassword">{{$t("public.share52")}}</a>
                        <a @click="goLogin" class="h5_font14_yellow">{{$t("public.share53")}}</a>
                    </div>
                </div>
            </div>
            <!--底部小导航-->
            <foot-nav-two></foot-nav-two>
        </div>
    </div>
</body>

</html>