<!doctype html>
<html lang="en" style="height:100%">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <script src="https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea"></script>
</head>

<body style="height:100%" class="element">
    <div style="height:100%" id="app" v-loading="isLoading" :element-loading-text="loadingMsg" v-cloak>
        <div class="login" style="height:100%">
            <div class="back_center_icon cursor" @click="goHome"></div>
            <div class="login_content">
                <div class="login_logo_icon" @click="goHome"></div>
                <div class="flex_row_between">
                    <!--最新活动区-->
                    <div class="">
                        <!--<div class="pos_news_bottom flex_row_item_right">-->
                        <!--<p class="web_title_font">{{$t("public.share24")}}</p>-->
                        <!--<p class="title_icon"></p>-->
                        <!--</div>-->
                        <div class="activity_content flex_sbe" style="width: 585px;height: 320px;" @click="goActivityDetail(activityInfo)">
                            <img class="img_filter cursor box_radius" :src="bannerImg" alt="">
                        </div>
                    </div>
                    <!--登录注册区-->
                    <div class="flex_column_center high_ZINDEX_show">
                        <ul style="width: 310px;" class="flex_row_around">
                            <li>
                                <a class="login_title_font pos_foot_txt2" :class="{'logo_font' : loginType == 0}"
                                    @click="changeLoginType(0)">
                                    {{$t("public.share28")}}
                                </a>
                            </li>
                            <li>
                                <a class="login_title_font pos_foot_txt2" :class="{'logo_font' : loginType == 1}"
                                    @click="changeLoginType(1)">
                                    {{$t("public.share29")}}
                                </a>
                            </li>
                        </ul>
                        <!--用户登录填写框-->
                        <div>
                            <ul style="width: 310px;" class="login_box" v-show="loginType == 0">
                                <li class="flex_sbe" style="width:100%;">
                                    <el-select @change="onSelectCountryCode" filterable v-model="country_code"
                                        :placeholder="$t('public.share25')" style="width:30%;margin-bottom: 12px;margin-right: 10px;">
                                        <el-option v-for="(val,key,index) in areaCodeList" :key="index" :label="'+'+val"
                                            :value="val">
                                        </el-option>
                                    </el-select>
                                    <!-- <input style="width: 82px;" class="input_box" type="text" placeholder="+86"> -->
                                    <input style="width: 217px;" v-model="phone" class="input_box" type="text"
                                        :placeholder="$t('public.share2')">
                                </li>
                                <li>
                                    <input style="width: 100%;" v-model="phonePassword" @change="passwordInput(0)"
                                        class="input_box" type="password" :placeholder="$t('public.share30')">
                                </li>
                            </ul>
                            <ul style="width: 310px;" v-show="loginType == 1">
                                <li>
                                    <input style="width: 100%;" v-model="email" class="input_box" type="text"
                                        :placeholder="$t('public.share31')">
                                </li>
                                <li>
                                    <input style="width: 100%;" v-model="emailPassword" @change="passwordInput(1)"
                                        class="input_box" type="password" :placeholder="$t('public.share30')">
                                </li>
                            </ul>
                        </div>
                        <!--是否记住密码-->
                        <div style="width: 310px;" class="flex_sbe">
                            <div class="flex_row_start cursor">
                                <input class="check_input pos_checkipt" v-model="isKeepPw" type="checkbox">
                                <span class="h5_font14_white" @click="isKeepPw = !isKeepPw">{{$t("public.share32")}}</span>
                            </div>
                            <a @click="goForgetPwd" class="h5_font14_white">{{$t("public.share33")}}</a>
                        </div>
                        <a class="web_login_btn pos_banner_txt1" style="width: 100%;padding: 10px 25px;" @click="clickLogin">{{$t("public.share34")}}</a>
                        <div style="width: 310px;" class="flex_row_center pos_warm_txt">
                            <span class="h5_font_normal">{{$t("public.share35")}}</span>
                            <a @click="goRegister" class="h5_font14_yellow">{{$t("public.share36")}}</a>
                        </div>
                        <div class="solid_dot_line "></div>
                        <!-- 第三方登录 -->
                        <oauth-login @setbindurltype="setBindUrlTYype" v-on:set-loading-statuas="setLoadingStatuas"></oauth-login>
                    </div>
                </div>
            </div>
            <!--底部小导航-->
            <foot-nav-two></foot-nav-two>
        </div>
    </div>
</body>

</html>