<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>会员中心</title>
    <script src="https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea"></script>
    <script src="./web.js"></script>
</head>

<body style="color: #666;">

<div id="app" v-cloak>
    <div class="user_box" v-loading="isLoading">
        <!--顶部导航-->
        <head-nav-two @changepage="changePage" v-on:changelanguage="onChangeLanguage"></head-nav-two>
        <!--用户信息-->
        <div class="user_nav_box">
            <div class="user_nav_contend">
                <div class="user_left_cell">
                    <div class="touxaing_box">
                        <div style="border-radius: 50%;overflow: hidden;width: 100%;height: 100%;">
                            <img :src="userInfo.avatar_new" onerror="javascript:this.src='./images/default_avatar.png'"
                                 class="img_filter"/>
                        </div>
                        <div class="camera_show_box" @click="changePage(2)">
                            <img src="./images/huantouxiang@2x.png" alt="" class="img_filter"/>
                        </div>
                    </div>
                </div>
                <div class="user_right_cell">
                    <div>
                        <p class="web_nickname_font">{{ userInfo.nickname }}</p>
                        <p class="web_public_btn">{{ userInfo.is_pay_user == 0 ? $t("user.b138") : $t("user.b137") }}</p>
                    </div>
                    <div class="flex_column_center">
                        <!-- <p class="h5_title_font" v-show="userInfo.billing_type == 1">{{ $t("user.b61") }}</p>
                        <p class="h5_title_font" v-show="userInfo.billing_type == 2">{{ $t("user.b62") }}</p> -->
                        <div class="flex_row_center">
                            <span class="web_time_font pos_download_list" v-show="userInfo.billing_type == 2">{{userInfo.expiry_time }}</span>
                            <span class="web_time_font" :class="{'web_time_red_font': timeFontRed}" v-show="userInfo.billing_type == 1">{{ timeHours }}</span>
                            <span v-show="userInfo.billing_type == 1">{{ $t("public.share15") }}</span>
                            <span class="web_time_font" :class="{'web_time_red_font': timeFontRed}" v-show="userInfo.billing_type == 1">{{ timeMinutes }}</span>
                            <span v-show="userInfo.billing_type == 1">{{ $t("public.share16") }}</span>
                            <span class="web_time_font" :class="{'web_time_red_font': timeFontRed}" v-show="userInfo.billing_type == 1">{{ timeSeconds }}</span>
                            <span v-show="userInfo.billing_type == 1">{{ $t("public.share17") }}</span>
                            <i style="width: 18px; height: 18px; margin-left: 10px" class="refresh_icon"
                               @click="reGetUserInfo"></i>
                        </div>
                        <div class="flex_row_center">
                            <i class="status_icon pos_download_list"></i>
                            <span class="package_time_font">{{$t("user.b63") }}</span>
                            <span class="web_status_font">{{ userInfo.pause_status }}</span>
                            <a class="round_btn" style="margin-left: 5px;" @click="changePage(1)" v-if="timeFontRed">{{$t("wallpaper.wall11") }}</a>
                        </div>
                    </div>
                    <div>
                        <a class="time_btn suspended_btn" @click="onSuspended" v-show="userInfo.pause_status_id == 0">
                            <i class="suspended_icon"></i>
                            <span>{{$t("user.b2")}}</span>
                        </a>
                        <a class="time_btn restore_btn" @click="onRestore" v-show="userInfo.pause_status_id == 1">
                            <i class="restore_icon"></i>
                            <span>{{$t("user.b1")}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--页面主体-->
        <div class="user_container">
            <!--左侧导航列表-->
            <div class="left_list_box">
                <ul class="top_list_nav">
                    <li class="pos_list_cell">
                        <a class="border_left user_router_font" :class="{'border_active':pageIndex == 0 }"
                           @click="changePage(0)">{{
                            $t("user.b64") }}</a>
                    </li>
                    <li class="pos_list_cell">
                        <a class="border_left user_router_font" :class="{'border_active':pageIndex == 1 }"
                           @click="changePage(1)">{{
                            $t("user.b65") }}</a>
                    </li>
                    <li class="pos_list_cell">
                        <a class="border_left user_router_font" :class="{'border_active':pageIndex == 2 }"
                           @click="changePage(2)">{{
                            $t("user.b66") }}</a>
                    </li>
                    <li class="pos_list_cell">
                        <a class="border_left user_router_font" :class="{'border_active':pageIndex == 3 }"
                           @click="changePage(3)">{{
                            $t("user.b67") }}</a>
                    </li>
                    <li class="pos_list_cell user_router_font">
                        <a class="border_left" :class="{'border_active':pageIndex == 7 }" @click="changePage(7)">{{
                            $t("user.b114") }}</a>
                    </li>
                    <li class="pos_list_cell">
                        <a class="border_left user_router_font" :class="{'border_active':pageIndex == 4 }"
                           @click="changePage(4)">{{
                            $t("user.b68") }}</a>
                    </li>
                    <li class="pos_list_cell user_router_font"
                        v-show="(userInfo.master_account == 0 && userInfo.mobile != '') || userInfo.master_account == 1">
                        <a class="border_left" :class="{'border_active':pageIndex == 5 }" @click="changePage(5)">{{
                            $t("user.b69") }}</a>
                    </li>
                    <li class="pos_list_cell user_router_font">
                        <a class="border_left" :class="{'border_active':pageIndex == 6 }" @click="changePage(6)">{{
                            $t("user.b70") }}</a>
                    </li>
                </ul>
                <ul class="left_list_cell flex_column_center" style="height:194px;margin-bottom: 0;">
                    <li class="device_box" @click="windowsDownload" style="margin-top: 0;">
                        <div class="download_win_box"></div>
                        <a class="pos_user_download">{{ $t("public.share54") }}</a>
                    </li>
                    <li class="device_box">
                        <el-tooltip class="item" effect="dark" placement="right">
                            <div slot="content">
                                <p>{{ $t("index.a28") }}</p>
                            </div>
                            <div class="flex_row_start">
                                <div class="download_mac_box"></div>
                                <a class="pos_user_download">{{ $t("public.share55") }}</a>
                            </div>
                        </el-tooltip>
                    </li>
                    <li class="device_box">
                        <el-tooltip class="item" effect="dark" placement="right">
                            <div slot="content">
                                <img v-if="webParam.region_code == 0 && webParam.language == 'zh_CN'"
                                     class="download_ewm"
                                     src="images/code_0_cn.png"/>
                                <img v-if="webParam.region_code == 1 && webParam.language == 'zh_CN'"
                                     class="download_ewm"
                                     src="images/code_1_cn.png"/>
                                <img v-if="webParam.region_code == 0 && webParam.language == 'en'" class="download_ewm"
                                     src="images/code_0_en.png"/>
                                <img v-if="webParam.region_code == 1 && webParam.language == 'en'" class="download_ewm"
                                     src="images/code_1_en.png"/>
                            </div>
                            <div class="flex_row_start">
                                <div class="download_ios_box"></div>
                                <a class="pos_user_download">{{ $t("public.share56") }}</a>
                            </div>
                        </el-tooltip>
                    </li>
                    <li class="device_box">
                        <el-tooltip class="item" effect="dark" placement="right">
                            <div slot="content">
                                <img v-if="webParam.region_code == 0 && webParam.language == 'zh_CN'"
                                     class="download_ewm"
                                     src="images/code_0_cn.png"/>
                                <img v-if="webParam.region_code == 1 && webParam.language == 'zh_CN'"
                                     class="download_ewm"
                                     src="images/code_1_cn.png"/>
                                <img v-if="webParam.region_code == 0 && webParam.language == 'en'" class="download_ewm"
                                     src="images/code_0_en.png"/>
                                <img v-if="webParam.region_code == 1 && webParam.language == 'en'" class="download_ewm"
                                     src="images/code_1_en.png"/>
                            </div>
                            <div class="flex_row_start">
                                <div class="download_android_box"></div>
                                <a class="pos_user_download">{{ $t("public.share57") }}</a>
                            </div>
                        </el-tooltip>
                    </li>
                </ul>
            </div>

            <!--右侧组件框架-->
            <div class="components_box">
                <!-- 组件部分 -->
                <user-center v-show="pageIndex == 0" @bindaccount="onBindAccount" :userinfo="userInfo"
                             @changepage="changePage"
                             @loginout="loginOut">
                </user-center>

                <user-recharge ref="recharge" @onbeginpay="onBeginPay" :userinfo="userInfo" :xianshiactivityinfo="xianshi_activity_info" v-show="pageIndex == 1"></user-recharge>

                <user-info ref="userinfo" :userinfo="userInfo" v-show="pageIndex == 2"
                           @on-upload-userinfo="onUploadUserInfo">
                </user-info>

                <user-card v-show="pageIndex == 3" ref="userRechergeCard" @changetab="userCardChangeTab" @refreshuserinfo="getUserInfo"></user-card>

                <user-order ref="orderList" @onbeginpay="onBeginPay" v-show="pageIndex == 4"></user-order>

                <user-safety ref="safety" :userinfo="userInfo" @resetpassword="onResetPwd"
                             @sendverifycode="onSendVerificationCode"
                             @setsecondpwd="onSetSecondPwd" @refreshuserinfo="getUserInfo"
                             v-show="pageIndex == 5">
                </user-safety>

                <user-agreement v-show="pageIndex == 6"></user-agreement>

                <active-record ref="activeRecordList" v-show="pageIndex == 7" @gorecharge="changePage(1)"
                               @refreshuserinfo="getUserInfo" @showtip="showTip">
                </active-record>
                <!-- 温馨提示 （根据不同组件进行渲染）-->
                <div class="pos_warm_box" v-show="pageIndex == 0 || pageIndex == 1">
                    <h3 class="warm_tips_font">{{ $t("warmtips.tip1") }}</h3>
                    <div class="warm_detail_font">
                        <p class="pos_warm_txt">{{ $t("warmtips.tip2") }}</p>
                        <p class="pos_warm_txt">{{ $t("warmtips.tip3") }}</p>
                        <p class="pos_warm_txt">{{ $t("warmtips.tip4") }}</p>
                    </div>
                    <div class="hide warm_detail_font">
                        <p class="pos_warm_txt">{{ $t("warmtips.tip5") }}</p>
                        <p class="pos_warm_txt">{{ $t("warmtips.tip6") }}</p>
                    </div>
                </div>
                <!--卡密充值温馨提示（根据不同组件进行渲染）-->
                <div class="pos_warm_box" v-show="pageIndex == 3&&cardTabName=='second'">
                    <h3 class="warm_tips_font">{{ $t("warmtips.tip1") }}</h3>
                    <div class="warm_detail_font">
                        <p class="pos_warm_txt">{{ $t("warmtips.tip7") }}</p>
                        <p class="pos_warm_txt">{{ $t("warmtips.tip8") }}</p>
                    </div>
                </div>
                <div class="pos_warm_box" v-show="pageIndex == 3&&cardTabName=='first'">
                    <h3 class="warm_tips_font">{{ $t("warmtips.tip1") }}</h3>
                    <div class="warm_detail_font">
                        <p class="pos_warm_txt">{{ $t("user.b67_11") }}</p>
                    </div>
                </div>
                <!-- 安全服务提示 （根据不同组件进行渲染）-->
                <div class="pos_warm_box" v-show="pageIndex == 5">
                    <h3 class="warm_tips_font">{{ $t("warmtips.tip9") }}</h3>
                    <div class="warm_detail_font">
                        <p class="pos_warm_txt">
                            <span>{{ $t("warmtips.tip10_1") }}</span> <a class="links_leigod_font" href="https://www.leigod.com" target="_blank">{{
                            $t("warmtips.tip10_2") }}</a> <span>{{ $t("warmtips.tip10_3") }}</span>
                        </p>
                        <p class="pos_warm_txt">{{ $t("warmtips.tip11") }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 支付弹窗 -->
        <el-dialog :visible.sync="payDialogVisible" @opened="onOpenPyaDialog" @close="onClosePyaDialog"
                   :title="$t('user.b65')"
                   width="40%">
            <pay-dialog ref="payDialogCom" @open="onOpenPyaDialog" :payobj="payObj"></pay-dialog>
        </el-dialog>

        <!--客服悬浮窗-->
        <download-box></download-box>

        <!--页面底部导航-->
        <foot-nav class="user_foot_nav"></foot-nav>
    </div>
</div>
</body>
<!-- 客服-->
#include('./components/_kefu.html')

</html>
