<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>雷神五一畅享</title>
</head>
<body style="background-color: #040F1B;">
<div id="app" v-cloak>

    <!--活动banner+套餐推荐区-->
    <div class="app-act_banner" :style="{background: 'url('+ activity_json.banner_bg_top +') no-repeat center center' ,'background-size': '100% 100%'}" style="padding-top: 450px;"></div>

    <!--主内容区-->
    <div class="app-act_content">
        <!--start   抽奖模块-->
        <div class="text_center">
            <!--奖品列表-->
            <div class="mar_b15 p_relative">
                <img src="../images/wuyi/prize_list_bg.png" alt="" width="80%" id="roll_table">
                <div style="width: 80%;height: 100%;position: absolute;top: 0;left: 10%;" :style="{background: 'url('+ activity_json.choujiang_bg +') no-repeat center center' ,'background-size': '100% 100%'}">
                    <div class="app-present_box" id="pointer" @click="onClickDraw">
                        <p class="app_click_font mar_t45">立即抽奖</p>
                        <p class="app_count_font mar_t5">剩余{{aCount}}次</p>
                    </div>
                </div>
            </div>
            <!--名单列表-->
            <img src="../images/wuyi/history_bg.png" alt="" width="98%" >
            <div class="app-record">
                <ul class="app_pub_zjjl_list" id="jilu_box">
                    <li v-for="(item, index) in awardList" :key="index">
                        <p class="words_flow app-record_font">
                            <span>恭喜</span>
                            <span>{{item.nickname}}</span>
                            <span>获得：</span>
                            <span>{{item.title}}</span>
                            <!--<span>{{item.create_time}}</span>-->
                        </p>
                    </li>
                </ul>
            </div>
            <!--按钮列表-->
            <ul class="flex_row_between" style="width: 90%;margin: 0 auto;">
                <img @click="onClickGuize" src="../images/wuyi/shuoming_btn.png" style="width: 45%;">
                <img @click="gotoRecord" src="../images/wuyi/jilu_btn.png" style="width: 45%;">
            </ul>
        </div>
        <!--end 抽奖模块-->

        <!--start   推荐好友注册充值-->
        <div id="step1" class="text_center mar_t15">
            <p>邀请好友</p>
            <div class="app-copy_link words_flow" v-text="refer_code_link"></div>
            <img class="mar_t5" src="../images/wuyi/wuyi_btn_copy.png" id="copyRefercodeLink" @click="copyRefercodeLink" width="40%">
        </div>
        <!--end 抽奖模块-->

        <!--充值模块-->
        <div class="mar_t60" style="position:relative;">
            <img src="../images/wuyi/wuyi_recharge_bg.png" alt="" width="100%">
            <!--测试套餐-->
            <div style="position: absolute;left: 30px;top: 25%;" class="clear_fix">
                <div class="f_left" style="width: 160px;height: 320px;" @click="chooserPayType(7, 2)"></div>
                <div class="f_right" style="width: 160px;height: 320px;" @click="chooserPayType(10, 2)"></div>
            </div>
            <img @click="gotoRecharge" src="../images/wuyi/recharge_btn.png" style="position: absolute;bottom: 8%;left: 15%;" alt="" width="70%">
        </div>

        <!--扫码关注-->
        <img src="../images/wuyi/wuyi_erweima.png" alt="" width="100%" style="margin-top: 30px;">

        <!--start   活动规则-->
        <div class="text_left" style="padding: 10px 5% 80px;">
            <ul class="mar_t20">
                <li class="mar_b5">
                    <p class="app-title_font mar_b10">活动说明</p>
                    <p class="app-common_font mar_b5">此活动只针对于雷神超级会员，海外会员不在此活动范围内！</p>
                    <p class="app-common_font">参与活动前请仔细阅读活动规则</p>
                </li>
                <li class="mar_b5">
                    <p class="app-common_font">1.活动时间：2019年4月30日15:30-2019年5月15日15:30</p>
                </li>
                <li class="mar_b5">
                    <p class="app-common_font">2.活动期间用户可进行重复邀请新用户，新用户获得抽奖机会，邀请新用户越多，用户中奖数量越多，100%中奖！</p>
                </li>
                <li class="mar_b5">
                </li>
                <li class="mar_b5">
                    <p class="app-common_font">3.抽奖奖品随机获得，不可进行退换！</p>
                </li>
                <li class="mar_b5">
                    <p class="app-common_font">4.邀请成功新用户在活动期间内未进行抽奖，视为自动放弃抽奖机会，邀请人也无法获得奖品，请及时进行抽奖！</p>
                </li>
                <li class="mar_b5">
                    <p class="app-common_font">5.雷神充值优惠券仅限在活动期间内使用，逾期自动失效。</p>
                </li>
            </ul>
        </div>
        <!--end 活动规则-->
    </div>

    <!--弹框区（共9个）-->
    <!--中奖提示弹框-->
    <div class="app_dialog" :class="{'app-hidden':!dialog_win}" v-if="activity_json.cj_success_type">
        <div class="app-dialog_out text_center" :class="{'app-dialog_in':dialog_win}">
            <img :src="activity_json.choujiang_success_bg" alt="雷神加速器" width="75%">
            <div class="app-dialog_content flex_column_center">
                <p class="mar_t10 dialog_title_font">恭喜您抽中</p>
                <p style="height: 28px;overflow: hidden;" class="mar_t10 dialog_present_font">{{prize_name}}</p>
                <div class="text_center">
                    <img @click="closeDialog" class="mar_t10" width="30%" src="../images/wuyi/wuyi_once_again.png">
                    <img @click="gotoRecord" class="mar_t10 mar_l15" width="30%" src="../images/wuyi/wuyi_duiiang_btn.png">
                </div>
                <!--定位的关闭按钮-->
                <img class="app-dialog_close" @click="closeDialog" :src="activity_json.dialog_close_bg" alt="" width="25px">
            </div>
        </div>
    </div>
    <!--错误提示弹框(未中奖+复制推荐码+复制链接成功)-->
    <div class="app_dialog" :class="{'app-hidden':!dialog_error}">
        <div class="app-dialog_out text_center" :class="{'app-dialog_in':dialog_error}">
            <img :src="activity_json.choujiang_success_bg" alt="雷神加速器" width="75%">
            <div class="app-dialog_content flex_column_center">
                <p class="mar_t10 dialog_title_font">温馨提示</p>
                <p class="mar_t10 dialog_present_font" style="width: 80%;">{{dialog_msg}}</p>
                <img @click="closeDialog" class="mar_t10" width="40%" src="../images/wuyi/wuyi_btn_sure.png">
                <!--定位的关闭按钮-->
                <img class="app-dialog_close" @click="closeDialog" :src="activity_json.dialog_close_bg" alt="" width="25px">
            </div>
        </div>
    </div>
    <!--提示充值弹框-->
    <div class="app_dialog" :class="{'app-hidden':!dialog_recharge}">
        <div class="app-dialog_out text_center" :class="{'app-dialog_in':dialog_recharge}">
            <img :src="activity_json.choujiang_success_bg" alt="雷神加速器" width="75%">
            <div class="app-dialog_content flex_column_center">
                <p class="dialog_title_font">温馨提示</p>
                <p class="mar_t10 dialog_present_font" style="padding: 0 10px;">您的抽奖次数为0,无法进行抽奖，快邀请好友来注册吧！
                    好友注册成功可获得抽奖机会，抽奖获得的奖品您也可获得一份哦！</p>
                <img @click="gotoInvite" class="mar_t10" style="width: 117px;" src="../images/wuyi/wuyi_invited_btn.png">
                <!--定位的关闭按钮-->
                <img class="app-dialog_close" @click="onCloseRecharge" :src="activity_json.dialog_close_bg" alt="" width="25px">
            </div>
        </div>
    </div>
    <!--未登录提醒弹框-->
    <div class="app_dialog" :class="{'app-hidden':!dialog_no_login}">
        <div class="app-dialog_out text_center" :class="{'app-dialog_in':dialog_no_login}">
            <img :src="activity_json.choujiang_success_bg" alt="雷神加速器" width="75%">
            <div class="app-dialog_content flex_column_center">
                <p class="mar_t10 dialog_title_font">温馨提示</p>
                <p class="mar_t10 dialog_present_font">您还未进行登录，请先登录再进行好友 <br> 邀请。</p>
                <img @click="gotoLogin" class="mar_t10" width="40%" src="../images/wuyi/wuyi_login_btn.png">
                <img class="app-dialog_close" @click="onCloseNologin" :src="activity_json.dialog_close_bg" alt="" width="25px">
            </div>
        </div>
    </div>
    <!--活动规则弹框-->
    <div class="app_dialog" :class="{'app-hidden':!dialog_guize}" v-if="activity_json.guizejilutype == 1">
        <div class="app-dialog_out" :class="{'app-dialog_in':dialog_guize}" style="text-align: center;">
            <img :src="activity_json.dialog_guize_bg" alt="雷神加速器" width="75%">
            <div class="app-dialog_content">
                <div class="app-dialog_info mar_t20">
                    <ul>
                        <li class="mar_b10">
                            <p class="app-title_font text_center">玩法说明</p>
                        </li>
                        <li class="mar_b10">
                            <p class="app-common_font mar_b5">1.活动期间用户每邀请到一位新用户好友，新用户好友可获得一次抽奖机会，被邀请用户抽中奖品邀请用户也均可获得同等奖品，邀请好友数无上限！</p>
                        </li>
                        <li class="mar_b10">
                            <p class="app-common_font">2.新用户和老用户必须邀请到新用户好友才能获得抽奖机会。</p>
                        </li>
                        <li class="mar_b10">
                            <p class="app-common_font">3. 邀请到的新用户必须绑定手机号完成注册即为邀请成功。</p>
                        </li>
                        <li class="mar_b5">
                            <p class="app-title_font mar_t10 text_center">获奖须知</p>
                        </li>
                        <li class="mar_b5">
                            <p class="app-common_font">1.用户邀请成功好友，被邀请用户抽中奖品，邀请用户请在官网"个人中心-活动记录"页面进行查看并确认奖品。</p>
                        </li>
                        <li class="mar_b5">
                            <p class="app-common_font">2. 获得热门游戏道具的用户均发放CDK，请自行到对应平台激活，有效期到2020年3月1日，过期将自动失效。</p>
                        </li>
                        <li class="mar_b5">
                            <p class="app-common_font">3. 获得充值优惠券的用户可在雷神加速器充值页面进行直接充值抵扣。</p>
                        </li>
                        <li class="mar_b5">
                            <p class="app-common_font">4. 获得雷神小时卡的用户直接在官网"个人中心-活动记录"页面进行兑换。</p>
                        </li>
                    </ul>
                </div>
                <!--定位的关闭按钮-->
                <img class="app-dialog_close" @click="onCloseGuize" :src="activity_json.dialog_close_bg" alt="" width="25px">
            </div>
        </div>
    </div>

    <!--登录、注册、忘记密码PopUp-->
    <van-popup position="right" v-model="show_dialog" style="width: 100%;height: 100%;background-color: #f2f2f2;">
        <keep-alive>
            <component :is="activComponent" @tologin="toLogin" @toregister="toRegister" @toforget="toForgetPwd" @already-login="alreadyLogin"></component>
        </keep-alive>
    </van-popup>

    <!--充值PopUp-->
    <van-popup position="bottom" v-model="show_recharge" :lazy-render="false" style="width: 100%;">
        <recharge-dialog ref="to_recharge"  @tologin="toLogin"></recharge-dialog>
    </van-popup>

    <!--兑奖PopUp-->
    <van-popup position="right" v-model="show_reward" :lazy-render="false" style="width: 100%;height: 100%;">
        <reward-dialog ref="to_reward"></reward-dialog>
    </van-popup>
</div>
</body>
</html>
