<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们</title>
    <meta name="keywords" content="a1">
    <meta name="description" content="a1">
</head>

<body>
    <div v-cloak id="app" class="page_box">
        <img class="bg_img" :src="bgImg" alt="">
        <div class="content_box">
            <div class="wrap_of_service" style="padding:30px 30px 0px;">
                <div class="con_img_l">
                    <img class="img_filter" style="margin-top: 30px" src="./images/service.png" alt="" />
                </div>
                <!-- 只要渲染过来的不是mac的，还是按照原来的渲染 -->
                <div class="con_txt_r" v-if="appParam.platform!=1">
                    <h3 class="font_s1">{{$t("pservice.q1")}}</h3>
                    <div v-if="appParam.region_code == 0">
                        <p class="font_s2" style="margin-bottom:6px;">{{$t("pservice.q2")}}</p>
                        <a class="font_s3">customer@bohe.com</a>
                    </div>
                    <p style="margin-top: 16px;"></p>
                    <div v-if="appParam.region_code == 1" class="contact_us">
                        <a class="contact_btn" @click="onUchat">{{$t("pservice.q3")}}</a>
                        <p style="margin: 20px 10px;" class="contact_time">{{$t("pservice.q4")}}</p>
                    </div>
                    <div class="con_img_1" style="margin-top: 10px;width:126px;">
                        <img class="img_filter" src="./images/wechat.png" alt="" />
                        <p class="font_s4">{{$t("pservice.q5")}}</p>
                    </div>
                </div>
                <!-- 只要渲染过来是mac的，还是按照如下渲染 -->
                <div class="con_txt_r" v-else style="margin-top:26px;">
                    <h3 class="font_s1">{{$t("pservice.q1")}}</h3>
                    <div>
                        <p class="font_s2">{{$t("pservice.q2")}}</p>
                        <a class="font_s3">customer@bohe.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>