<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
<div v-cloak class="mui-content regBox" id="app">
    <div>
        <van-tabs type="card" color="#fca702" :swipeable=true animated @change="changeLoginType">
            <!-- <van-tab title="手机登录"> -->
            <van-tab :title="$t('login.l1')">
                <form class="mui-input-group nobg">
                    <div class="login">
                        <div class="mui-input-row login_user">
                            <i class="ls icon-zhanghao"></i>
                            <div @click="changeAreaCode" class="leigod_flex_left" style="width:80px;">
                                +<span v-text="country_code"></span>
                                <span class="mui-icon mui-icon-arrowdown" style="font-size:14px;"></span>
                            </div>
                            <!-- <input
                              type="text"
                              class="mui-input-clear"
                              name="mini_username"
                              placeholder="请输入手机号"
                              v-model="phone"
                            /> -->
                            <input
                                    type="text"
                                    class="mui-input-clear"
                                    name="mini_username"
                                    :placeholder="$t('login.l3')"
                                    v-model="phone"
                            />
                        </div>
                        <div class="mui-input-row login_password mui-password">
                            <i class="ls icon-mima"></i>
                            <!-- <input type="password" class="mui-input-password" name="mini_password" placeholder="请输入密码" v-model="phonePassword"  @input="passwordInput(0)" /> -->
                            <input type="password" class="mui-input-password" name="mini_password"
                                   :placeholder="$t('login.l6')" v-model="phonePassword" @input="passwordInput(0)"/>
                        </div>
                    </div>
                </form>
            </van-tab>
            <!-- <van-tab title="邮箱登录"> -->
            <van-tab :title="$t('login.l2')">
                <form class="mui-input-group nobg">
                    <div class="login">
                        <div class="mui-input-row login_user">
                            <img src="./images/email.png" class="new_email" alt="">
                            <!-- <input
                              type="text"
                              class="mui-input-clear"
                              name="mini_username"
                              placeholder="请输入邮箱"
                               v-model="email"
                            /> -->
                            <input
                                    type="text"
                                    class="mui-input-clear"
                                    name="mini_username"
                                    :placeholder="$t('login.l9')"
                                    v-model="email"
                            />
                        </div>
                        <div class="mui-input-row login_password mui-password">
                            <i class="ls icon-mima"></i>
                            <!-- <input
                              type="password"
                              class="mui-input-password"
                              name="mini_password"
                              placeholder="请输入密码"
                              v-model="emailPassword"
                              @input="passwordInput(1)"
                            /> -->
                            <input
                                    type="password"
                                    class="mui-input-password"
                                    name="mini_password"
                                    :placeholder="$t('login.l6')"
                                    v-model="emailPassword"
                                    @input="passwordInput(1)"
                            />
                        </div>
                    </div>
                </form>
            </van-tab>
        </van-tabs>

        <div class="login_forget">
            <div class="mui-input-row mui-checkbox mui-left mui-pull-left">
                <label for="bdwx">{{$t("login.l29")}}</label>
                <input
                        id="bdwx"
                        name="bindweixin"
                        value="1"
                        type="checkbox"
                        v-model="bangding"
                />
            </div>
            <a @click="gotoforgetPassword" class="mui-pull-right login_forget_link">{{$t("login.l12")}}</a>
        </div>

        <button class="btn login_btn btnStyle" type="button" @click="onLogin">{{$t("login.l13")}}</button>
        <div style="display:-webkit-flex;justify-content: space-around;">
            <a @click="gotoRegister" class="login_reg_link">{{$t("login.l14")}}</a>
        </div>
        <van-actionsheet v-model="AreaCodeshow">
            <van-picker show-toolbar :title="$t('puser.r14')" :columns="areaCodeListArr"
                        :confirm-button-text="$t('puser.r3')"
                        :cancel-button-text="$t('puser.r4')" @confirm="onCheckAreaCode" @cancel="AreaCodeshow=false"/>
        </van-actionsheet>
    </div>

</div>
</body>
</html>
