<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>充值</title>
    <meta name="keywords" content="a1">
    <meta name="description" content="a1">
	<script src="https://hm.baidu.com/hm.js?539749fa2c4ded1935537a08f9d20cd7"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>

<body>
    <div v-cloak class="wrap_of_mrecharge" id="app">
        <loading v-show="isLoading"></loading>
		<div v-show="!isLoading" style="display:none;">
            <div class="rechargeBox" v-show="appParam.region_code == 0">
                <a class="show_bh">
                    <img class="img_filter" src="./images/10.png" alt="">
                </a>
                <div style="margin: 5px auto">
                    <ul class="ul_s0">
                        <li class="tab_s1" @click="onChoosePackageTypeA(index)" :class="{tab_s1_check:czTypeIndex == index}"
                            v-for="(item,index) in packageList" :key="index">
                            <i :class="'vip_0'+item.package_level"></i>
                            <a class="le_s0" v-text="item.package_title"></a>
                        </li>
                    </ul>
                </div>
                <div class="cannot_buy cannot_buy_app" v-show="isShow == 1">
                    <img class="cannot_buy_img" src="images/cannotbuy.png" alt="">
                    <h3 class="cannot_buy_title">{{$t("precharge.m37")}}</h3>
                    <p class="cannot_buy_msg">{{$t("precharge.m38")}}<br>
                        {{$t("precharge.m39")}}
                    </p>
                </div>
                <div v-show="isShow == 0 && appParam.region_code == 0">
                    <ul>
                        <li class="bg_boder_2" @click="onChoosePrice(index)" v-for="(item,index) in priceList" :key="index"
                            :class="{bg_boder_2_check:priceIndex == index}">
                            <div class="bg_boder_4" style="width:100px;" v-text="item.price_title"></div>
                            <div class="bg_boder_3">
                                <div class="font_s30" style="color:#fff !important;">
                                    <span class="le_bh" style="color:#fff !important;" v-text="appParam.region_code == 0? '$' : '¥'"></span>
                                    <p class="le_bh" style="color:#fff !important;font-size:0.26rem;" v-text="item.price_num"></p>
                                </div>
                                <span class="font_s31" v-text="item.price_short_desc" style="color:#fff !important;"></span>
                            </div>
                        </li>
                    </ul>
                    <div class="zhekou">
                        <input type="text" :placeholder="$t('userorder.s4')" v-model="zheCode"/>
                    </div>
                    <div>
                        <a class="btn_click" @click="clickPay">{{$t("precharge.m21")}}</a>
                    </div>
                </div>
                <!-- 选支付方式 -->
                <van-popup v-model="choosePayTypeShow" position="bottom" :overlay="true" :lock-scroll="true">
                    <ul class="pay_types">
                        <li>
                            <p class="pay_types_title">{{$t("precharge.m22")}}</p>
                        </li>
                        <li @click="onChooseAndPay(2)" class="pay_type" v-show="payShowConfig.is_show_zfb">
                            <i class="zfb"></i>
                            <span class="pay_type_msg">{{$t("precharge.m8")}}</span>
                            <i class="right_icon"></i>
                        </li>
                        <li @click="onChooseAndPay(1)" class="pay_type" v-show="payShowConfig.is_show_wx">
                            <i class="wx"></i>
                            <span class="pay_type_msg">{{$t("precharge.m7")}}</span>
                            <i class="right_icon"></i>
                        </li>
                        <li @click="onChooseAndPay(5)" class="pay_type" v-show="payShowConfig.is_show_paypal">
                            <i class="pal"></i>
                            <span class="pay_type_msg">{{$t("precharge.m9")}}</span>
                            <i class="right_icon"></i>
                        </li>
                    </ul>
                </van-popup>
                <div class="font_s32">{{$t("precharge.m1")}}</div>
                <div class="contain_list clearfix_bh">
                    <span class="font_s6" style="font-weight: 600;">{{$t("mrecharge.j9")}}</span>
                    <div class="rt_bh w_img_exp" :class="{w_img_exp_lh40:appParam.language == 'en'}">
                        <span class="bg_img1" style="font-weight: 600;">
                            {{$t("mrecharge.j10")}}
                        </span>
                        <span class="bg_img1" style="font-weight: 600;">
                            {{$t("mrecharge.j11")}}
                        </span>
                        <span class="bg_img1" style="font-weight: 600;">
                            {{$t("mrecharge.j12")}}
                        </span>
                    </div>
                </div>
                <div class="contain_list clearfix_bh">
                    <span class="font_s6">{{$t("pexplain.u5")}}</span>
                    <div class="rt_bh w_img_exp">
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                    </div>
                </div>
                <div class="contain_list clearfix_bh">
                    <span class="font_s6">{{$t("pexplain.u6")}}</span>
                    <div class="rt_bh w_img_exp" :class="{w_img_exp_lh40:appParam.language == 'en'}">
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                    </div>
                </div>
                <div class="contain_list clearfix_bh">
                    <span class="font_s6">{{$t("pexplain.u7")}}</span>
                    <div class="rt_bh w_img_exp">
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                    </div>
                </div>
                <div class="contain_list clearfix_bh">
                    <span class="font_s6">{{$t("pexplain.u8")}}</span>
                    <div class="rt_bh w_img_exp">
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                    </div>
                </div>
                <div class="contain_list clearfix_bh">
                    <span class="font_s6">{{$t("pexplain.u9")}}</span>
                    <div class="rt_bh w_img_exp">
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                    </div>
                </div>
                <div class="contain_list clearfix_bh">
                    <span class="font_s6">{{$t("pexplain.u10")}}</span>
                    <div class="rt_bh w_img_exp" :class="{w_img_exp_lh40:appParam.language == 'en'}">
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                        <span class="bg_img1">
                            <img src="./images/11.png" width="14" alt="" />
                        </span>
                    </div>
                </div>
                <div class="contain_list clearfix_bh">
                    <span class="font_s6">{{$t("pexplain.u11")}}</span>
                    <div class="rt_bh w_img_exp" :class="{w_img_exp_lh40:appParam.language == 'en'}">
                        <span class="bg_img1">
                            1
                        </span>
                        <span class="bg_img1">
                            1
                        </span>
                        <span class="bg_img1">
                            2
                        </span>
                    </div>
                </div>
                <div class="contain_list clearfix_bh">
                    <span class="font_s6">{{$t("pexplain.u12")}}</span>
                    <div class="rt_bh w_img_exp">
                        <span class="bg_img1">
                            5m/s
                        </span>
                        <span class="bg_img1">
                            20m/s
                        </span>
                        <span class="bg_img1">
                            100m/s
                        </span>
                    </div>
                </div>
                <div class="contain_list clearfix_bh">
                    <span class="font_s6">{{$t("pexplain.u13")}}</span>
                    <div class="rt_bh w_img_exp">
                        <span class="bg_img1">
                            {{$t("pexplain.u14")}}
                        </span>
                        <span class="bg_img1">
                            {{$t("pexplain.u14")}}
                        </span>
                        <span class="bg_img1">
                            {{$t("pexplain.u14")}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="rechargeBox" v-show="appParam.region_code == 1">
                <h2 class="recharge_title">{{$t("index.b20")}}</h2>
                <ul class="recharge_content">
                    <li class="recharge_li clearfix_bh">
                        <div class="recharge_img_title">
                            <i class="recharge_icon_1"></i>
                            <p class="icon_msg">{{$t("mrecharge.j1")}}</p>
                        </div>
                        <div class="recharge_msg">
                            <p class="recharge_msg_content" style="color:#fff;">{{$t("mrecharge.j2")}}</p>
                        </div>
                    </li>
                    <li class="recharge_li clearfix_bh">
                        <div class="recharge_img_title">
                            <i class="recharge_icon_1"></i>
                            <p class="icon_msg">{{$t("mrecharge.j3")}}</p>
                        </div>
                        <div class="recharge_msg">
                            <p class="recharge_msg_content" style="color:#fff;">{{$t("mrecharge.j4")}}</p>
                        </div>
                    </li>
                    <li class="recharge_li clearfix_bh">
                        <div class="recharge_img_title">
                            <i class="recharge_icon_1"></i>
                            <p class="icon_msg">{{$t("mrecharge.j5")}}</p>
                        </div>
                        <div class="recharge_msg">
                            <p class="recharge_msg_content" style="color:#fff;">{{$t("mrecharge.j6")}}</p>
                        </div>
                    </li>
                    <li class="recharge_li clearfix_bh">
                        <div class="recharge_img_title">
                            <i class="recharge_icon_1"></i>
                            <p class="icon_msg">{{$t("mrecharge.j7")}}</p>
                        </div>
                        <div class="recharge_msg">
                            <p class="recharge_msg_content" style="color:#fff;">{{$t("mrecharge.j8")}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>