<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帮助</title>
    <meta name="keywords" content="a1">
    <meta name="description" content="a1">
</head>

<body>
    <div v-cloak id="app" class="page_box">
        <img class="bg_img" :src="bgImg" alt="">
        <div class="content_box">
            <div class="container_bg_img">
                <ul class="selfhelp_nav clearfix_bh">
                    <li class="equipmenttype border_r" @click="changeHelpType(0)" :class="{equipmenttype_active:helpType == 0}">{{$t("pselfhelp.p2")}}</li>
                    <!-- <li class="equipmenttype border_r" @click="changeHelpType(1)" :class="{equipmenttype_active:helpType == 1}">{{$t("pselfhelp.p3")}}</li> -->
                    <!-- <li class="equipmenttype border_r">ios</li> -->
                    <li class="equipmenttype" @click="changeHelpType(2)" :class="{equipmenttype_active:helpType == 2}">{{$t("pselfhelp.p4")}}</li>
                </ul>
                <ul class="wrap_of_selfhelp" v-show="helpType == 0">
                    <li class="bg_boder ptbrl_44" v-for="(item , index) in khdNewList" :key="index">
                        <a class="">
                            <p class="mid_flo_l" v-text="item.title"></p>
                            <span class="mid_flo_r">{{$t("pselfhelp.p1")}}</span>
                        </a>
                    </li>
                    <li v-show="helpType == 0">
                        <div class="empty_show" v-show="khdNewList.length == 0">
                            <img class="empty_img" src="images/emptyIcon.png" alt="">
                            <p class="empty_msg">{{$t("pselfhelp.p5")}}</p>
                        </div>
                    </li>
                </ul>
                <ul class="wrap_of_selfhelp" v-show="helpType == 1">
                    <li class="bg_boder ptbrl_44" v-for="(item , index) in gwNewList" :key="index">
                        <a class="">
                            <p class="mid_flo_l" v-text="item.title"></p>
                            <span class="mid_flo_r">{{$t("pselfhelp.p1")}}</span>
                        </a>
                    </li>
                    <li v-show="helpType == 1">
                        <div class="empty_show" v-show="gwNewList.length == 0">
                            <img class="empty_img" src="images/emptyIcon.png" alt="">
                            <p class="empty_msg">{{$t("pselfhelp.p5")}}</p>
                        </div>
                    </li>
                </ul>
                <ul class="wrap_of_selfhelp" v-show="helpType == 2">
                    <li class="bg_boder ptbrl_44" v-for="(item , index) in ydNewList" :key="index">
                        <a class="">
                            <p class="mid_flo_l" v-text="item.title"></p>
                            <span class="mid_flo_r">{{$t("pselfhelp.p1")}}</span>
                        </a>
                    </li>
                    <li v-show="helpType == 2">
                        <div class="empty_show" v-show="ydNewList.length == 0">
                            <img class="empty_img" src="images/emptyIcon.png" alt="">
                            <p class="empty_msg">{{$t("pselfhelp.p5")}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>