<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea"></script>
    <title>Title</title>
    <meta name="keywords" content="活动,雷神,加速器">
    <meta name="description" content="活动,雷神，加速器">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1046901_o14ltnrr2hd.css">
</head>
<body>
    <div id="app" v-cloak>
        <!--顶部导航-->
        <head-nav v-on:changelanguage="onChangeLanguage"></head-nav>

        <!-- 页面contend -->
        <!-- 套餐页轮播图 -->
        <div class="recharge_banner clear_fix" :class="{'recharge_en_banner' : webParam.region_code == 0}">
            <div class="package_slideshow_box">
                <a href="brandnew.html" class="img_filter" v-if="webParam.region_code == 0">
                    <img class="img_filter cursor" src="./images/recharge_banner_4.png" alt>
                </a>
                <a :href="activityInfo.url" class="img_filter" v-if="webParam.region_code == 1">
                    <img class="img_filter cursor" src="./images/recharge_banner_middle.png"
                         :alt="activityInfo.title">
                </a>
            </div>
        </div>

        <div style="background-color:#ebebeb;">
            <div class="gamesup_banner_content">
                <div class="text_center">
                    <p class="gamesup_title_font">支持千款游戏精准加速</p>
                    <p class="gamesup_jianjie_font" style="margin-top: 5px;">数据分析各类游戏优化加速策略, 即时更新支持全球范围网游, 长期限免免费加速各类热门、新游戏</p>
                </div>
                <div class="gamesup_box" v-loading="isLoading">
                    <div class="clear_fix">
                        <div class="f_left">
                            <ul class="clear_fix">
                                <li class="gamesup_tab_item f_left" :class="{'gamesup_tab_active': navIndex == 0}" @click="changeNavIndex(0)">
                                    全部
                                    <i class="tag"></i>
                                </li>
                                <li class="gamesup_tab_item f_left" :class="{'gamesup_tab_active': navIndex == 1}" @click="changeNavIndex(1)">
                                    最新
                                    <i class="tag"></i>
                                </li>
                                <li class="gamesup_tab_item f_left" :class="{'gamesup_tab_active': navIndex == 2}" @click="changeNavIndex(2)">
                                    热门
                                    <i class="tag"></i>
                                </li>
                                <li class="gamesup_tab_item f_left" :class="{'gamesup_tab_active': navIndex == 3}" @click="changeNavIndex(3)">
                                    限免
                                    <i class="tag"></i>
                                </li>
                                <li class="gamesup_tab_item f_left" :class="{'gamesup_tab_active': navIndex == 4}" @click="changeNavIndex(4)">
                                    手游
                                    <i class="tag"></i>
                                </li>
                                <li class="gamesup_tab_item f_left" :class="{'gamesup_tab_active': navIndex == 5}" @click="changeNavIndex(5)">
                                    Steam
                                    <i class="tag"></i>
                                </li>
                                <li class="gamesup_tab_item f_left" :class="{'gamesup_tab_active': navIndex == 6}" @click="changeNavIndex(6)">
                                    Origin
                                    <i class="tag"></i>
                                </li>
                                <li class="gamesup_tab_item f_left" :class="{'gamesup_tab_active': navIndex == 7}" @click="changeNavIndex(7)">
                                    Uplay
                                    <i class="tag"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="f_right" style="position: relative;">
                            <input class="game_search_ipt" v-model="keyWords" type="text" placeholder="找你喜欢的游戏" @input="searchGame">
                            <i class="iconfont icon-shiliangzhinengduixiang"></i>
                        </div>
                    </div>
                    <div class="clear_fix" style="margin-top: 40px;">
                        <div class="f_left gamesup_cell" v-for="(item,index) in showGameList" v-if="showGameList.length > 0">
                            <i class="iconfont icon-new pos_download_icon" v-if="item.is_new == 1"></i>
                            <i class="iconfont icon-hot pos_download_icon" v-if="item.is_hot == 1"></i>
                            <a>{{item.title}}</a>
                        </div>
                        <div v-if="showGameList.length <= 0" style="text-align: center;margin-top: 100px;">
                            <i class="iconfont icon-zanwu"></i>
                            <p style="color: #838383;">暂无此游戏，请联系客服添加！</p>
                        </div>
                    </div>
                    <div style="text-align: center;position: absolute;width: 100%;left: 0;bottom: 10px;" v-if="showGameList.length > 0">
                        <el-pagination background layout="prev, pager, next" :page-size="150" :total="checkGameList.length" @current-change="getShowGameList">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>

        <!--上报游戏提示弹窗-->
        <el-dialog :visible.sync="emptyDialogVisible" width="20%">
            <div style="text-align: center;padding-bottom: 20px;">
                <i class="icon-shangbao iconfont"></i>
                <p style="font-size: 12px;color: #666;">很抱歉未能找到您想要的游戏</p>
                <p style="font-size: 12px;color: #666;">请点击”点击上报“, 我们将及时添加</p>
                <a class="round_btn" style="padding: 5px 20px;margin-top: 20px;">上报游戏</a>
            </div>
        </el-dialog>

        <!-- 客服下载 -->
        <download-box v-if="webParam.region_code == 1"></download-box>

        <!--页面底部导航-->
        <foot-nav class="other_foot_nav"></foot-nav>
</div>
</body>
</html>