<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea"></script>
    <title>雷神加速器</title>
    <meta name="keywords" content="a1">
    <meta name="description" content="a1">
</head>

<body>
    <div id="app">
        <!-- 浏览器版本过低时提示 -->
        <p style="display: none" class="browser_tip" v-show="browserTipShow">
            您当前浏览器版本较低,导致本网站内部分功能可能无法正常使用,建议您更换高版本的浏览!
            <span class="browser_tip_close" @click="closeBrowserTip">下次再说</span>
        </p>
        <!--顶部导航-->
        <div :class="{'browser_low':browserTipShow}">
            <head-nav v-on:changelanguage="onChangeLanguage"></head-nav>
        </div>
        <!--页面banner展示-->
        <div class="banner">
            <div class="banner_content flex_row_between">
                <div class="banner_box">
                    <div class="banner_dz">
                        <img src="images/banner_dz.png" alt="" class="img_filter">
                    </div>
                    <div class="banner_logo">
                        <img src="images/banner_logo.png" alt="" class="img_filter">
                    </div>
                    <div class="banner_cs">
                        <img src="images/banner_cs.png" alt="" class="img_filter">
                    </div>
                    <div class="banner_dota">
                        <img src="images/banner_dota.png" alt="" class="img_filter">
                    </div>
                    <div class="banner_pubg">
                        <img src="images/banner_pubg.png" alt="" class="img_filter">
                    </div>
                    <div class="banner_fk">
                        <img src="images/banner_fk.png" alt="" class="img_filter">
                    </div>
                    <div class="banner_fk2">
                        <img src="images/banner_fk2.png" alt="" class="img_filter">
                    </div>
                </div>
                <div class="banner_box flex_content_left">
                    <p class="logo_font">{{$t("index.a1")}}</p>
                    <p class="pos_banner_txt0 h1_title_font" style="word-break: keep-all;">{{$t("index.a2")}}</p>
                    <p class="h2_title_font">{{$t("index.a3")}}</p>
                    <div class="pos_banner_txt1 flex_content_left">
                        <p class="product_font">{{$t("index.a4")}}</p>
                        <p class="product_font">{{$t("index.a5")}}</p>
                    </div>
                    <!--国内显示-->
                    <ul style="display: none;" class="download_box" v-show="webParam.region_code == 1">
                        <li class="download_cell" style="padding: 13px 12px;" @click="windowsDownload">
                            <div class="windows_icon pos_download_icon"></div>
                            <!-- Windows下载 -->
                            <span class="h5_title_font">Windows下载</span>
                        </li>
                        <li>
                            <el-tooltip class="item" effect="dark" placement="bottom">
                                <div slot="content">
                                    <p>{{$t("index.a28")}}</p>
                                </div>
                                <div class="flex_row_center download_cell">
                                    <div class="mac_icon pos_download_icon"></div>
                                    <!-- Mac下载 -->
                                    <span class="h5_title_font">Mac下载</span>
                                </div>
                            </el-tooltip>
                        </li>
                        <li>
                            <el-tooltip class="item" effect="dark" placement="bottom">
                                <div slot="content">
                                    <img v-if="webParam.region_code == 0 && webParam.language == 'zh_CN'" class="download_ewm" src="images/code_0_cn.png" />
                                    <img v-if="webParam.region_code == 1 && webParam.language == 'zh_CN'" class="download_ewm" src="images/code_1_cn.png" />
                                    <img v-if="webParam.region_code == 0 && webParam.language == 'en'" class="download_ewm" src="images/code_0_en.png" />
                                    <img v-if="webParam.region_code == 1 && webParam.language == 'en'" class="download_ewm" src="images/code_1_en.png" />
                                </div>
                                <div class="flex_row_center download_cell">
                                    <div class="ios_icon pos_download_icon"></div>
                                    <!-- IOS下载 -->
                                    <span class="h5_title_font">IOS下载</span>
                                </div>
                            </el-tooltip>
                        </li>
                        <li>
                            <el-tooltip class="item" effect="dark" placement="bottom">
                                <div slot="content">
                                    <img v-if="webParam.region_code == 0 && webParam.language == 'zh_CN'" class="download_ewm" src="images/code_0_cn.png" />
                                    <img v-if="webParam.region_code == 1 && webParam.language == 'zh_CN'" class="download_ewm" src="images/code_1_cn.png" />
                                    <img v-if="webParam.region_code == 0 && webParam.language == 'en'" class="download_ewm" src="images/code_0_en.png" />
                                    <img v-if="webParam.region_code == 1 && webParam.language == 'en'" class="download_ewm" src="images/code_1_en.png" />
                                </div>
                                <div class="flex_row_start download_cell">
                                    <div class="android_icon pos_download_icon"></div>
                                      <!-- Android下载 -->
                                    <span class="h5_title_font">Android下载</span>
                                </div>
                            </el-tooltip>
                        </li>
                    </ul>
                    <!--国外显示-->
                    <ul style="display: none;" class="download_box" v-show="webParam.region_code == 0">
                        <li class="download_foreign_cell" @click="windowsDownload">
                            <div class="flex_row_between">
                                <div class="windows_icon pos_download_icon"></div>
                                <span class="h5_title_font">Windows</span>
                            </div>
                            <img src="./images/download_btn@2x.png" alt="" width="16">
                        </li>
                        <li>
                            <el-tooltip class="item" effect="dark" placement="bottom">
                                <div slot="content">
                                    <p>{{$t("index.a28")}}</p>
                                </div>
                                <div class="flex_row_between download_foreign_cell" style="display: flex;justify-content: space-between;align-items: center;">
                                    <div class="flex_row_start">
                                        <div class="mac_icon pos_download_icon"></div>
                                        <span class="h5_title_font">Mac</span>
                                    </div>
                                    <img src="./images/download_btn@2x.png" alt="" width="16">
                                </div>
                            </el-tooltip>
                        </li>
                        <li>
                            <el-tooltip class="item" effect="dark" placement="bottom">
                                <div slot="content">
                                    <img v-if="webParam.region_code == 0 && webParam.language == 'zh_CN'" class="download_ewm"
                                        src="images/code_0_cn.png" />
                                    <img v-if="webParam.region_code == 1 && webParam.language == 'zh_CN'" class="download_ewm"
                                        src="images/code_1_cn.png" />
                                    <img v-if="webParam.region_code == 0 && webParam.language == 'en'" class="download_ewm"
                                        src="images/code_0_en.png" />
                                    <img v-if="webParam.region_code == 1 && webParam.language == 'en'" class="download_ewm"
                                        src="images/code_1_en.png" />
                                </div>
                                <div class="flex_row_between download_foreign_cell" style="display: flex;justify-content: space-between;align-items: center;">
                                    <div class="flex_row_start">
                                        <div class="ios_icon pos_download_icon"></div>
                                        <span class="h5_title_font">IOS</span>
                                    </div>
                                    <img src="./images/code_btn@2x.png" alt="" width="16">
                                </div>
                            </el-tooltip>
                        </li>
                        <li>
                            <el-tooltip class="item" effect="dark" placement="bottom">
                                <div slot="content">
                                    <img v-if="webParam.region_code == 0 && webParam.language == 'zh_CN'" class="download_ewm"
                                        src="images/code_0_cn.png" />
                                    <img v-if="webParam.region_code == 1 && webParam.language == 'zh_CN'" class="download_ewm"
                                        src="images/code_1_cn.png" />
                                    <img v-if="webParam.region_code == 0 && webParam.language == 'en'" class="download_ewm"
                                        src="images/code_0_en.png" />
                                    <img v-if="webParam.region_code == 1 && webParam.language == 'en'" class="download_ewm"
                                        src="images/code_1_en.png" />
                                </div>
                                <div class="flex_row_between download_foreign_cell" style="display: flex;justify-content: space-between;align-items: center;">
                                    <div class="flex_row_start">
                                        <div class="android_icon pos_download_icon"></div>
                                        <span class="h5_title_font">Android</span>
                                    </div>
                                    <img src="./images/code_btn@2x.png" alt="" width="16">
                                </div>
                            </el-tooltip>
                        </li>
                    </ul>
                </div>
                <!--<a class="free_use_btn" @click="goRegister">{{$t("index.a27")}}</a>-->
            </div>
        </div>
        <!--页面主体内容-->
        <div class="main_content">
            <div class="content_box">
                <!--最新活动-->
                <div class="">
                    <div class="index_activity_box">
                        <div class="activity_box" @click="goActivityDetail(activityList)">
                            <img class="img_filter box_radius cursor" :src="bannerImg" alt="">
                        </div>
                        <div class="slideshow_box">
                            <el-carousel arrow='always' style="height: 320px;">
                                <el-carousel-item v-if="webParam.region_code == 1">
                                <a href="brandnew.html" class="img_filter">
                                    <img style="display: none;" v-show="webParam.language != 'en'"  class="img_filter box_radius cursor" src="images/new_leigod_net.png" alt="">
                                    <img style="display: none;" v-show="webParam.language == 'en'"  class="img_filter box_radius cursor" src="images/new_leigod_en_net.png" alt="">
                                </a>
                                </el-carousel-item>
                                <el-carousel-item v-if="webParam.region_code == 1">
                                    <a href="beifang.html" class="img_filter">
                                        <img class="img_filter box_radius cursor" src="images/beif.png" alt="">
                                    </a>
                                </el-carousel-item>
                                <el-carousel-item v-if="webParam.region_code == 1">
                                    <a href="cancelPause.html" class="img_filter">
                                        <img style="display: none;" v-show="webParam.language != 'en'" class="img_filter box_radius cursor"
                                            src="images/zant.png" alt="">
                                        <img style="display: none;" v-show="webParam.language == 'en'" class="img_filter box_radius cursor"
                                            src="images/zant_en.png" alt="">
                                    </a>
                                </el-carousel-item>
                                <el-carousel-item v-if="webParam.region_code == 0">
                                    <a href="cancelPause.html" class="img_filter">
                                        <img class="img_filter box_radius cursor" src="images/brandnew.png" alt="">
                                    </a>
                                </el-carousel-item>
                            </el-carousel>
                        </div>
                    </div>
                </div>
                <!--资讯&公告-->
                <div class="flex_sbe">
                    <div style="width: 619px; height: 343px;">
                        <div class="flex_sbe pos_activity_banner ">
                            <div class="flex_row_item_right">
                                <p class="web_title_font">{{$t("public.share23")}}</p>
                                <p class="title_icon"></p>
                            </div>
                            <div class="flex_row_start cursor">
                                <h2 class="arrow_more_font pos_arrow_more" @click="changeHotNews(hotNewsIndex - 1)"><</h2>
                                <h2 @click="changeHotNews(hotNewsIndex + 1)" class="arrow_more_font pos_arrow_more">></h2>
                                <span class="h5_font14_white" @click="goNews">more+</span>
                            </div>
                        </div>
                        <div>
                            <ul class="flex_row_start">
                                <li class="flex_column_center cursor" v-for="(item , index) in hotNewsList" :key="index"
                                    @click="goNewsDetail(item.id)" style="margin-right: 9px;">
                                    <div class="box_radius">
                                        <img class="box_radius" :src="imageHeadUrl + item.image_url" alt="" width="200"
                                            height="120">
                                    </div>
                                    <div class="flex_content_left" style="margin-top: 15px;">
                                        <p class="webnav_font" style="width: 200px;">{{item.title}}</p>
                                        <p class="product_font">{{item.create_time}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="solid_dot_line"></div>
                        <div class="flex_sbe">
                            <ul class="flex_row_between" style="flex-wrap: wrap;width: 100%;">
                                <li class="flex_row_between" style="width: 48%;margin-bottom: 15px;" v-for="(item , index) in lastNewsList"
                                    :key="index" @click="goNewsDetail(item.id)">
                                    <p class="h5_font14_white" style="width: 220px">{{item.title}}</p>
                                    <p class="product_font">{{item.date_time}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="width: 610px; height: 343px;">
                        <div class="pos_activity_banner flex_sbe">
                            <div class="flex_row_item_right">
                                <p class="web_title_font">{{$t("public.share22")}}</p>
                                <p class="title_icon"></p>
                            </div>
                            <div class="flex_row_start h5_font14_white">
                                <span @click="goNotify">more+</span>
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li class="notice_box" v-for="(item , index) in notifyList" :key="index" @click="goNotifyDetail(item.id)">
                                    <div class="notice_cell">
                                        <p class="news_month_font">{{item.publish_time_month + '/' +
                                            item.publish_time_day}}</p>
                                        <p class="news_year_font">{{item.publish_time_year}}</p>
                                    </div>
                                    <div style="width: 532px;margin-left: 20px;" class="flex_content_left">
                                        <p class="webnav_font" style="width: 480px;">{{item.title}}</p>
                                        <p class="product_font" style="width: 480px;">{{item.summary}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub_content">
            <div class="content_box">
                <!--雷神加速器说明-->
                <div class="web_tedian_box">
                    <ul class="flex_row_between">
                        <li class="flex_column_center">
                            <img class="pos_tedian" src="./images/tedian_5.png" alt="" width="124px" height="116px">
                            <p class="product_title_font pos_tedian">{{$t("index.a12")}}</p>

                            <div class="product_font flex_column_center">
                                <p>{{$t("index.a13")}}</p>
                                <p>{{$t("index.a14")}}</p>
                                <p>{{$t("index.a14_1")}}</p>
                            </div>
                        </li>
                        <li class="flex_column_center">
                            <img class="pos_tedian" src="./images/tedian_2.png" alt="" width="124px" height="116px">
                            <p class="product_title_font pos_tedian">{{$t("index.a15")}}</p>
                            <div class="product_font flex_column_center">
                                <p>{{$t("index.a16")}}</p>
                                <p>{{$t("index.a17")}}</p>
                                <p>{{$t("index.a17_1")}}</p>
                            </div>
                        </li>
                        <li class="flex_column_center">
                            <img class="pos_tedian" src="./images/tedian_3.png" alt="" width="124px" height="116px">
                            <p class="product_title_font pos_tedian">{{$t("index.a18")}}</p>
                            <div class="product_font flex_column_center">
                                <p>{{$t("index.a19")}}</p>
                                <p>{{$t("index.a20")}}</p>
                                <p>{{$t("index.a20_1")}}</p>
                            </div>
                        </li>
                        <li class="flex_column_center">
                            <img class="pos_tedian" src="./images/tedian_1.png" alt="" width="124px" height="116px">
                            <p class="product_title_font pos_tedian">{{$t("index.a21")}}</p>
                            <div class="product_font flex_column_center">
                                <p>{{$t("index.a22")}}</p>
                                <p>{{$t("index.a23")}}</p>
                                <p>{{$t("index.a23_1")}}</p>
                            </div>
                        </li>
                        <li class="flex_column_center">
                            <img class="pos_tedian" src="./images/tedian_4.png" alt="" width="124px" height="116px">
                            <p class="product_title_font pos_tedian">{{$t("index.a24")}}</p>
                            <div class="product_font flex_column_center">
                                <p>{{$t("index.a25")}}</p>
                                <p>{{$t("index.a25_1")}}</p>
                                <p>{{$t("index.a26")}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--活动展示盒子-->
        <!--TODO... 临时处理-->
        <activity-box v-on:goto-activity-detail="goActivityDetail(activityList)"  v-if="webParam.region_code == 1"></activity-box>
        <!--页面底部导航-->
        <foot-nav></foot-nav>
    </div>
</body>
<!-- 客服-->
#include('./components/_kefu.html')

</html>