<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://hm.baidu.com/hm.js?0eb4303e084ff5791f2a25e3df421cea"></script>
    <title>5.0版本活动</title>
</head>

<body>
<div id="app" style="background-color: #221d34;" v-loading="isBengin" element-loading-background="rgba(0, 0, 0, 0.8)">

    <!--顶部导航-->
    <head-nav ref="head" v-on:changelanguage="onChangeLanguage"></head-nav>
    <div class="model_container">
        <img src="./images/version5_0/header_1.png" alt="雷神加速器" class="activity_main_banner" style="margin-left: -960px;">
        <img src="./images/version5_0/header_2.png" alt="雷神加速器" class="activity_main_banner" style="margin-left: -960px;">
    </div>

    <div class="content_box">
        <div class="activity_model_content" style="width: 1000px;">
            <!--活动奖品展示+充值引导-->
            <div class="model_container model_left_container" style="text-align: right;margin-top: 10px;">
                <img src="./images/version5_0/recharge_bg.png" alt="">
                <div class="model_right_outside_box">
                    <p style="font-size: 26px;color:#ffcd7f;margin-top: 40px;">充值享折扣 红包限时送 <small>(4月12~4月23)</small> </p>
                    <p style="height: 17px;font-size: 16px;line-height: 20px;color: #7e6bab;">9000小时折扣价低至0.02元/小时，活动结束恢复折扣价279元！</p>
                    <div style="width: 1000px;text-align: center;margin-top: 26px;position: relative;">
                        <img src="./images/version5_0/800.png" alt="">
                        <img src="./images/version5_0/9000.png" alt="" style="margin-left: 81px;">
                        <img src="./images/version5_0/buy_now.png" alt="" class="buy_800_now" @click="gotoRecharge(0)">
                        <img src="./images/version5_0/buy_now.png" alt="" class="buy_9000_now" @click="gotoRecharge(3)">
                    </div>
                    <div class="version_buy_box">
                        <a class="version_buy_btn" @click="getPrizebag">领取普通红包 <small>(已结束)</small></a>
                        <a class="version_buy_btn" style="margin-left: 126px;" @click="getGoldPrizeBag">领取黄金红包<small>(已结束)</small></a>
                    </div>
                    <div class="version_prize"  id="version_roll">
                        <p style="font-size: 20px;color: #ffce80;">雷神加速器  海量福利大回馈</p>
                        <ul class="version_prize_list flex_row_center">
                            <li>
                                <img src="./images/version5_0/5.0_1.png" alt="">
                                <p style="font-size: 14px;color: #b09ddc;">鬼泣5标准版<br>CDKEY</p>
                            </li>
                            <li>
                                <img src="./images/version5_0/5.0_2.png" alt="">
                                <p style="font-size: 14px;color: #b09ddc;">生化危机2重制版<br>CDKEY</p>
                            </li>
                            <li>
                                <img src="./images/version5_0/5.0_3.png" alt="">
                                <p style="font-size: 14px;color: #b09ddc;">GTA5 CDKEY</p>
                            </li>
                            <li>
                                <img src="./images/version5_0/5.0_4.png" alt="">
                                <p style="font-size: 14px;color: #b09ddc;">喜加一慈善包</p>
                            </li>
                            <li>
                                <img src="./images/version5_0/5.0_5.png" alt="">
                                <p style="font-size: 14px;color: #b09ddc;">免单800小时</p>
                            </li>
                            <li>
                                <img src="./images/version5_0/5.0_6.png" alt="">
                                <p style="font-size: 14px;color: #b09ddc;">免单9000小时</p>
                            </li>
                            <li>
                                <img src="./images/version5_0/5.0_7.png" alt="">
                                <p style="font-size: 14px;color: #b09ddc;">1-188小时<br>雷神小时卡</p>
                            </li>
                            <li>
                                <img src="./images/version5_0/5.0_8.png" alt="">
                                <p style="font-size: 14px;color: #b09ddc;">188-888小时<br>雷神小时卡</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--5.0活动抽奖区-->
            <div class="model_container model_left_container" style="margin-top: 20px;text-align: right;">
                <img src="./images/version5_0/version_roll_bg.png" alt="雷神加速器">
                <div class="model_right_outside_box">
                    <p style="font-size: 26px;color:#ffcd7f;margin-top: 40px;">拆红包领豪礼  惊喜送不停 </p>
                    <p style="height: 17px;font-size: 16px;line-height: 20px;color: #7e6bab;">100%中奖, 充值800小时获取1个普通红包，充值9000小时获取1个黄金红包</p>
                    <div style="width: 1000px;text-align: center;margin-top: 30px;position: relative;">
                        <div class="version_prize_roll_box">
                            <img src="./images/version5_0/normal_prize.png" alt="">
                            <div class="version_normal_open_box">
                                <img class="normal_open" src="./images/version5_0/normal_open.png" alt="">
                                <img class="gold_open" @click="onClickDraw" src="./images/version5_0/gold_open.png" alt="">
                            </div>
                            <p style="font-size: 18px;color: #fbd8dc;text-align: center;position: absolute;top: 268px;width: 100%;">随机获取</p>
                            <p style="font-size: 14px;color: #fbd8dc;text-align: center;position: absolute;top: 298px;width: 100%;">800小时免单、喜加一、1-188时长卡等</p>
                        </div>
                        <div class="version_prize_roll_box" style="margin-left: 86px;">
                            <img src="./images/version5_0/gold_prize.png" alt="">
                            <div class="version_gold_open_box">
                                <img class="normal_open" src="./images/version5_0/normal_open.png" alt="">
                                <img class="gold_open" @click="onClickDrawTwo" src="./images/version5_0/gold_open.png" alt="">
                            </div>
                            <p style="font-size: 18px;color: #fbd8dc;text-align: center;position: absolute;top: 268px;width: 100%;">随机获取</p>
                            <p style="font-size: 14px;color: #fbd8dc;text-align: center;position: absolute;top: 298px;width: 100%;">9000小时免单、steam游戏大作、<br>
                                188-888时长卡等</p>
                        </div>
                    </div>
                    <div class="version_prize_user">
                        <div style="overflow: hidden">
                            <ul class="version_zjjl_list" id="jilu_box">
                                <li v-for="(item, index) in awardList" :key="index" style="text-align: center;width: 50%;float: left;line-height: 30px;height: 30px;">
                                    <p class="jilu_font" style="color: #7e6bab;text-align: center;line-height: 30px;">
                                        <span>恭喜</span>
                                        <span class="pos_jilu_list">{{item.nickname || item.mobile_num || item.mail}}</span>
                                        <span class="pos_jilu_list">拆红包获得:</span>
                                        <span class="pos_jilu_list">{{item.title}}</span>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--推荐好友注册充值-->
            <div class="model_container model_left_container" style="margin-top: 20px;text-align: right;">
                <img src="./images/version5_0/version_info.png" alt="雷神加速器">
                <div class="model_right_outside_box">
                    <p style="font-size: 26px;color:#ffcd7f;margin-top: 40px;">活动说明</p>
                    <p class="version_info_font" style="margin-top: 32px;">此活动只针对于雷神超级会员，海外会员不在此活动范围内</p>
                    <br>
                    <p class="version_info_font">参与活动前请仔细阅读活动规则</p>
                    <br>
                    <p class="version_info_font">1.活动时间：2019年4月12日15:30-2019年4月23日15:30.</p>
                    <p class="version_info_font">2.活动期间，用户可重复充值获得红包数量，数量有限，先到先得！</p>
                    <p class="version_info_font">3.红包内奖品随机获得，不可进行退换！</p>
                    <p class="version_info_font">4.活动页面抽中免单的用户请详细填写相关信息进行提交，提交完成将统一进行审核，审核完成将在活动结束的3个工作日内完成全部退款.</p>
                    <p class="version_info_font">5.抽中游戏道具的玩家请自行根据页面提供的卡密到游戏官网进行激活使用,卡密有效期到2020年3月，过期将自动失效 .</p>
                    <p class="version_info_font">6.获得时长卡用户，直接在官网"个人中心-活动记录"页面进行兑换.</p>
                    <p class="version_info_font">7.普通红包和黄金红包仅限活动期间内开启和抽奖，逾期清空作废！</p>
                    <br>
                    <p class="version_info_font">本次活动的最终解释权归上海雷神网络科技有限公司所有</p>
                </div>
            </div>

            <!--分享部分-->
            <div style="width: 177px;z-index: 1;top: 50px;margin-left: -700px;" :class="{'fixed_share':joinleftfix==1}" class="activity_share_box">
                <div class="kx_side_box" style="width: 177px;z-index: 1">
                    <img src="./images/version5_0/Glogo.png" alt="">
                    <img src="./images/version5_0/version_weibo.png" alt="" style="margin-top: 24px;">
                </div>
            </div>
        </div>
    </div>

    <!-- 客服下载 -->
    <download-box v-if="webParam.region_code == 1"></download-box>

    <!--中奖-->
    <div class="activity_dialog" :class="{'vshide':!dialog_win}">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_win}" style="text-align: center;margin-left: -233px;">
            <img src="./images/version5_0/version_dialog_bg.png" alt="雷神加速器">
            <div class="activity_dialog_content">
                <div class="flex_column_center" style="font-size: 16px;color: #101859;">
                    <p class="activity_dialog_notice_msg" style="margin-top: 40px;padding: 0 20px;font-size: 20px;color:#fff;">恭喜您获得</p>
                    <p style="font-size: 26px;color:#ffcd7f;margin-top: 50px;">{{prize_name}}</p>
                    <div>
                        <a class="version_dialog_btn" style="margin-top: 40px;" @click="closeDialog">再抽一次</a>
                        <a class="version_dialog_btn" style="margin-top: 40px;" @click="gotoDuijiang">去兑奖</a>
                    </div>
                </div>
            </div>
            <div class="activity_dialog_close" @click="closeDialog" style="top: 20px;right: 20px;width: 18px;height: 18px;">
                <img src="./images/version5_0/closed_normal.png" alt="">
            </div>
        </div>
    </div>

    <!--领取红包成功-->
    <div class="activity_dialog" :class="{'vshide':!dialog_prize_bag}">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_prize_bag}" style="text-align: center;margin-left: -233px;">
            <img src="./images/version5_0/version_dialog_bg.png" alt="雷神加速器">
            <div class="activity_dialog_content">
                <p class="activity_dialog_notice_msg" style="margin-top: 79px;padding: 0 20px;font-size: 20px;color:#fff;">恭喜您已获得</p>
                <p class="activity_dialog_notice_msg" style="font-size: 20px;color:#ffcd7f;padding: 0 50px;margin-top: 18px;">{{dialog_prize_bag_msg}}</p>
                <a class="version_dialog_btn" style="margin-top: 55px;" @click="goOpenPrizeBag">去拆红包</a>
            </div>
            <div class="activity_dialog_close" @click="closePrizeBagDialog" style="top: 20px;right: 20px;width: 18px;height: 18px;">
                <img src="./images/version5_0/closed_normal.png" alt="">
            </div>
        </div>
    </div>

    <!--错误提示-->
    <div class="activity_dialog" :class="{'vshide':!dialog_error}">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_error}" style="text-align: center;margin-left: -233px;">
            <img src="./images/version5_0/version_dialog_bg.png" alt="雷神加速器">
            <div class="activity_dialog_content">
                <p class="activity_dialog_notice_msg" style="margin-top: 79px;padding: 0 20px;font-size: 20px;color:#fff;">温馨提示</p>
                <p class="activity_dialog_notice_msg" style="font-size: 16px;color:#ffcd7f;padding: 0 50px;margin-top: 18px;">{{dialog_msg}}</p>
                <a class="version_dialog_btn" style="margin-top: 55px;" @click="closeDialog">确定</a>
            </div>
            <div class="activity_dialog_close" @click="closeDialog" style="top: 20px;right: 20px;width: 18px;height: 18px;">
                <img src="./images/version5_0/closed_normal.png" alt="">
            </div>
        </div>
    </div>

    <!--领红包提示充值-->
    <div class="activity_dialog" :class="{'vshide':!dialog_recharge_getbag}">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_recharge_getbag}" style="text-align: center;margin-left: -233px;">
            <img src="./images/version5_0/version_dialog_bg.png" alt="雷神加速器">
            <div class="activity_dialog_content">
                <div class="flex_column_center">
                    <p class="activity_dialog_notice_msg" style="margin-top: 79px;padding: 0 20px;font-size: 20px;color:#fff;">温馨提示</p>
                    <p style="font-size: 18px;color:#ffcd7f;margin-top: 18px;">您还未购买抽奖套餐，暂不能领取红包 !</p>
                    <a class="version_dialog_btn" style="margin-top: 55px;" @click="gotoRecharge(3)">去购买</a>
                </div>
            </div>
            <div class="activity_dialog_close" @click="closeRechargeGetBagDialog" style="top: 20px;right: 20px;width: 18px;height: 18px;">
                <img src="./images/version5_0/closed_normal.png" alt="">
            </div>
        </div>
    </div>

    <!--拆红包提示充值-->
    <div class="activity_dialog" :class="{'vshide':!dialog_recharge}">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_recharge}" style="text-align: center;margin-left: -233px;">
            <img src="./images/version5_0/version_dialog_bg.png" alt="雷神加速器">
            <div class="activity_dialog_content">
                <div class="flex_column_center">
                    <p class="activity_dialog_notice_msg" style="margin-top: 79px;padding: 0 20px;font-size: 20px;color:#fff;">温馨提示</p>
                    <p style="font-size: 18px;color:#ffcd7f;margin-top: 18px;">您还未购买抽奖套餐，暂时无法拆红包 !</p>
                    <a class="version_dialog_btn" style="margin-top: 55px;" @click="gotoRecharge(3)">去购买</a>
                </div>
            </div>
            <div class="activity_dialog_close" @click="onCloseRecharge" style="top: 20px;right: 20px;width: 18px;height: 18px;">
                <img src="./images/version5_0/closed_normal.png" alt="">
            </div>
        </div>
    </div>

    <!--未登录提醒-->
    <div class="activity_dialog" :class="{'vshide':!dialog_no_login}">
        <div class="activity_dialog_notice_out" :class="{'activity_dialog_notice_in':dialog_no_login}" style="text-align: center;">
            <img src="./images/version5_0/version_dialog_bg.png" alt="雷神加速器">
            <div class="activity_dialog_content">
                <p class="activity_dialog_notice_msg" style="margin-top: 79px;padding: 0 20px;font-size: 20px;color:#fff;">温馨提示</p>
                <p class="activity_dialog_notice_msg" style="font-size: 18px;color:#ffcd7f;margin-top: 18px;">您还未登录<br/>请登录后再参与活动, 谢谢</p>
                <a class="version_dialog_btn" style="margin-top: 55px;" @click="gotoLogin">登录</a>
            </div>
            <div class="activity_dialog_close" @click="onCloseNologin" style="top: 20px;right: 20px;width: 18px;height: 18px;">
                <img src="./images/version5_0/closed_normal.png" alt="">
            </div>
        </div>
    </div>

    <foot-nav class="other_foot_nav"></foot-nav>
</div>
</body>
<!-- 客服-->
#include('./components/_kefu.html')

</html>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?17232eb197fe1658987da501d2a6379f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
